@import "../../../assets/SCSS/Vars.scss";

#general-modal {
  .white-small {
    .holder {
      background: #ffffff;
      border-radius: 12px;
      padding: 30px;
      position: relative;
      z-index: 999;
      width: 400px;
      @media screen and (max-width: 600px) {
        width: 335px;
      }
    }
  }
  .holder {
    h5 {
      font-size: 24px;
      font-weight: normal;
      margin-bottom: 10px;
      margin-top: 0px;
    }

    p {
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 26px;
      text-align: center;
      margin-top: 0px;
      margin-bottom: 20px;
    }

    button {
      background: #000000;
      border: 1px solid #000000;
      box-sizing: border-box;
      border-radius: 100px;
      font-family: $lato;
      font-size: 16px;
      color: #ffffff;
      margin-right: auto;
      // margin-bottom: 10px;
      // margin-left: auto;
      // margin-top: 20px;
      // padding: 10px;
      width: 148px;
      :first-child{
        margin-left: 0px;
      }
      margin-left: 10px;
      &.go-home {
        padding: 10px 30px;
      }
      &:last-child {
        margin-right: 0px;
      }
      &.outlined {
        background: #fff;
        color: #000;
      }
      &.buy-button {
        position: absolute;
        left: 50%;
        font-family: $space;
        margin-left: -100px;
        background: #fff;
        color: #000;
        font-weight: 400;
        font-size: 16px;
        padding: 10px 0px;
        border: 0px;
        cursor: pointer;
        white-space: nowrap;
        width: 200px;
        &.btn1 {
          bottom: 18px;
        }
        &.btn2 {
          bottom: 18px;
        }
      }
    }
  }

  &.centered {
    .holder {
      text-align: center;
    }
  }
  .btn-close {
    position: absolute;
    top: 7%;
    left: 85%;
    z-index: 999;
    cursor: pointer;
  }
}

.buy-modal {
  .modal,
  #general-modal {
    .holder {
      color: #000;
      p {
        text-align: left;
      }

      .buy-confirm {
        padding: 10px 20px;
        border: solid 2px #000;
      }

      .buy-cancel {
        padding: 10px 20px;
        border: solid 2px #000;
        color: #000;
        background: #fff;
      }
    }
  }

  .payment-form {
    .buy-confirm,
    .buy-cancel {
      margin-top: 25px;
    }

    .exp-and-cvv {
      .exp,
      .cvv {
        width: 50%;
      }

      .exp {
        margin-right: 5px;
      }

      .cvv {
        margin-left: 5px;
      }
    }

    .field {
      border: solid 1px #cacaca;
      padding: 10px;
      border-radius: 5px;
      margin-top: 5px;
      margin-bottom: 10px;
    }
  }
}
