@import "../../../assets/SCSS/Vars.scss";

.transactionWrapper {
  width: 100%;
  margin-top: $s-32;
  .transTable {
    width: 100%;
    .transRow {
      width: 100%;
      color: white;
      font-weight: $fw-light;
      font-size: $fs-body;
      cursor: pointer;
      .transId {
        @media screen and (max-width: 699px) {
          display: none;
        }
        height: 40px;
        vertical-align: top;
        padding-bottom: $s-16;
      }
      .transIdMobile {
        @media screen and (min-width: 700px) {
          display: none;
        }
        padding: 0 0 $s-8 0;
        .transIdHolder {
          font-size: $fs-body;
          line-height: 20.42px;
        }
        .transDateHolder {
          font-size: $fs-caption;
          line-height: 15px;
        }
      }
      .transDate {
        @media screen and (max-width: 699px) {
          display: none;
        }
        height: 40px;
        vertical-align: top;
        padding-bottom: $s-16;
      }
      .transAmt {
        text-align: right;
        height: 40px;
        vertical-align: top;
        padding-bottom: $s-16;
        font-weight: $fw-regular;
        @media screen and (max-width: 699px) {
          padding-bottom: $s-8;
        }
        .greenTxt {
          color: $success;
        }
        .redTxt {
          color: $error;
        }
        .smallTxt {
          padding-top: 2px;
          font-weight: $fw-light;
          font-size: $fs-caption;
          line-height: 15px;
        }
      }
    }
  }
}
