.transactionWrapper {
  width: 100%;
  .transTable {
    width: 100%;
    .transRow {
      width: 100%;
      color: white;
      font-weight: 300;
      font-size: 18px;
      cursor: pointer;
      .transId {
        @media screen and (max-width: 600px) {
          display: none;
        }
        padding: 10px 20px;
      }
      .transIdMobile {
        @media screen and (min-width: 700px) {
          display: none;
        }
        padding: 10px 20px;
        .transIdHolder {
          font-size: 16px;
          line-height: 20.42px;
        }
        .transDateHolder {
          font-size: 12px;
          line-height: 15.31px;
        }
      }
      .transDate {
        @media screen and (max-width: 600px) {
          display: none;
        }
        padding: 10px 20px;
      }
      .transAmt {
        text-align: right;
        padding: 10px 20px;
        .greenTxt {
          color: #22BE00;
          @media screen and (max-width: 600px) {
            font-size: 16px;
          }
        }
        .redTxt {
          color: #F84F4D;
          @media screen and (max-width: 600px) {
            font-size: 16px;
          }
        }
        .smallTxt {
          color: white;
          font-size: 14px;
          @media screen and (max-width: 600px) {
            font-size: 12px;
          }
        }
      }
    }
  }
}