@mixin overflowScrollBar {
  &::-webkit-scrollbar {
    width: 8;
    height: 8;
  }
  &::-webkit-scrollbar-track {
    background-color: "rgba(232, 232, 232, .35)";
    border-radius: 4;
  }
  &::-webkit-scrollbar-thumb {
    outline: 0;
    background-color: "#D2E2EA";
    border-radius: 4;
  }
}
@mixin send-modal-view1 {
  .send-modal-middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    .send-modal-subheading {
      font-size: 20px;
      line-height: 25.52px;
      font-weight: 600;
    }
    .subheading-right-block {
      font-size: 16px;
      text-align: right;
      line-height: 20.42px;
      text-decoration: underline;
      text-underline-offset: 3px;
      cursor: pointer;
    }
  }
  .send-modal-near-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    border: 1px solid #999999;
    border-radius: 8px;
    padding-inline: 10px;
    .modal-textfield {
      border: none;
      outline: none;
      font-size: 17px;
      line-height: 3;
      &::-webkit-input-placeholder {
        font-size: 17px;
        font-weight: 200;
        color: #7c7c7cb3;
      }
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
    .near-dollar {
      font-size: 17px;
      line-height: 3;
      color: #7c7c7cb3;
    }
  }
  .errMsg {
    margin-bottom: 30px;
    padding-left: 5px;
  }
  .send-modal-detail {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    .sm-detail-left {
      font-size: 16px;
      line-height: 20.42px;
      color: black;
      opacity: 0.5;
    }
    .sm-detail-right {
      text-align: right;
      .available-near {
        font-size: 16px;
        line-height: 20.42px;
        color: black;
        font-weight: 500;
        padding-bottom: 3px;
        span {
          opacity: 0.6;
        }
      }
      .available-dollar {
        font-size: 12px;
        line-height: 15.31px;
        color: #000000;
        opacity: 0.5;
      }
    }
  }
}

@mixin send-modal-view2 {
  .send-modal-radio-btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    .radio-btn {
      .radio {
        display: block;
        cursor: pointer;
        user-select: none;
        text-align: left;
        & + .radio {
          margin-top: 7px;
        }
        input {
          display: none;
          & + span {
            display: inline-block;
            position: relative;
            padding-left: 28px;
            font-weight: 500;
            font-size: 20px;
            &:before {
              content: "";
              display: block;
              position: absolute;
              top: 5px;
              left: 0px;
              border-radius: 50%;
              margin-right: 5px;
              width: 16px;
              height: 16px;
              border: 2px solid hsl(0, 0%, 0%);
              background: white;
            }
            &:after {
              content: "";
              display: block;
              width: 10px;
              height: 10px;
              background: #fff;
              position: absolute;
              border-radius: 50%;
              top: 10px;
              left: 5px;
              opacity: 0;
              transform: scale(0, 0);
              transition: all 0.2s cubic-bezier(0.64, 0.57, 0.67, 1.53);
            }
          }
          &:checked + span:after {
            opacity: 1;
            transform: scale(1, 1);
          }
          &:checked + span:before {
            background: black;
          }
        }
      }
    }
  }
  .send-modal-vew2-input-wrapper {
    position: relative;
    margin-bottom: 20px;
    .send-modal-vew2-input {
      height: 48px;
      width: 375px;
      border-radius: 8px;
      border: 1px solid #999999;
      padding-left: 10px;
      padding-right: 10px;
      font-size: 17px;
      &::-webkit-input-placeholder {
        font-size: 17px;
        line-height: 3;
        color: #7c7c7cb3;
      }
    }
    .errMsg {
      margin-top: 5px;
      padding-left: 5px;
    }
    .send-modal-search-result {
      padding: 20px;
      width: 355px;
      overflow: auto;
      border-radius: 8px;
      border: 1px solid #999999;
      max-height: 120px;
      position: absolute;
      top: 58px;
      z-index: 1;
      background: #fff;
      @include overflowScrollBar();
      .send-modal-result-card {
        font-size: 18px;
        font-weight: 500;
        padding-bottom: 8px;
        cursor: pointer;
      }
    }
  }
  .send-modal-view2-detail {
    font-size: 16px;
    line-height: 20.42px;
    margin-bottom: 20px;
    opacity: 0.5;
  }
}

@mixin send-modal-view3 {
  .send-modal-view3-near {
    font-size: 40px;
    line-height: 40px;
    font-weight: 400;
    display: inline-flex;
    align-items: center;
    margin-bottom: 5px;
    justify-content: space-between;
    width: 100%;
    .send-modal-view3-near-amount {
      display: inline-flex;
      align-items: center;
      span {
        font-size: 16px;
        line-height: 20.42px;
        opacity: 0.5;
        padding-left: 10px;
      }
    }
    .change {
      font-size: 16px;
      text-align: right;
      line-height: 20.42px;
      text-decoration: underline;
      text-underline-offset: 3px;
      cursor: pointer;
    }
  }
  .send-modal-view3-dollar {
    font-size: 14px;
    line-height: 17.86px;
    margin-bottom: 20px;
  }
  .send-modal-view3-detail-wrapper {
    font-size: 16px;
    line-height: 20.42px;
    margin-bottom: 20px;
    .send-modal-view3-heading {
      font-weight: 200;
      margin-bottom: 5px;
    }
    .send-modal-view3-detail {
      display: inline-flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      .send-modal-view3-detail-left {
        font-weight: 500;
      }
      .send-modal-view3-detail-right {
        font-size: 16px;
        text-align: right;
        line-height: 20.42px;
        text-decoration: underline;
        text-underline-offset: 3px;
        cursor: pointer;
      }
    }
  }
  .send-modal-view3-total-wrapper {
    font-size: 16px;
    line-height: 20.42px;
    margin-bottom: 20px;
    .send-modal-view3-heading {
      font-weight: 600;
      margin-bottom: 5px;
    }
    .send-modal-view3-detail {
      font-weight: 600;
    }
  }
}

.wallet-page {
  @media screen and (max-width: 600px) {
    // margin-top: 5px;
  }
  .white-box {
    font-family: "Space Grotesk", sans-serif;
    background: #fff;
    box-sizing: border-box;
    padding: 30px;
    display: flex;
    @media screen and (max-width: 1010px) {
      flex-direction: column;
    }
    @media screen and (max-width: 650px) {
      margin-left: 20px;
      margin-right: 20px;
    }
    h4 {
      font-weight: 300;
      font-size: 24px;
      line-height: 31px;
      font-style: normal;
      margin-top: 0px;
      margin-bottom: 24px;
    }

    .near-amount {
      display: flex;
      align-items: center;
      span {
        font-weight: 300;
        font-size: 60px;
        line-height: 100%;
        &.near-label {
          text-transform: uppercase;
          opacity: 0.6;
          margin-left: 20px;
          font-weight: 400;
          font-size: 24px;
          line-height: 31px;
        }
      }
    }

    .usd{
      padding-top: 5px;
      font-weight: 300;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.08em;
    }

    .left {
      min-width: 35%;
      border-right: solid 1px rgba(0, 0, 0, 0.2);
      padding-right: 80px;
      margin-right: 50px;
      .balance {
        margin-bottom: 30px;
      }
      @media screen and (max-width: 1010px) {
        border-right: solid 1px white;
        padding-right: 0px;
        margin-right: 0px;
        border-bottom: solid 1px rgba(0, 0, 0, 0.2);
      }
      .buttons {
        flex-direction: row;
        margin-top: 40px;
        @media screen and (max-width: 1010px) {
          margin-bottom: 30px;
          margin-top: 30px;
        }
        .btn {
          width: -webkit-fill-available;
          margin-bottom: 0px;
          font-weight: 400;
          &:first-child {
            margin-left: 0px;
          }

          &:last-child {
            margin-right: 0px;
          }
        }
      }
    }

    .right {
      flex: 1;
      display: flex;
      flex-direction: column;
      @media screen and (max-width: 1010px) {
        margin-top: 30px;
      }
      input {
        border: 1.5px solid #e3e3e3;
        border-radius: 8px;
        font-size: 16px;
        padding: 14px 10px;
        width: 100%;
        box-sizing: border-box;
        font-weight: 400;
        color: #000;
      }

      input::placeholder {
          font-weight: 300;
          color: #999;
        }

      .conversion-to-near {
        color: #000000;
        opacity: 0.5;
        margin-top: 15px;
        padding: 5px;
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.08em;
        @media screen and (max-width: 1010px) {
          margin-bottom: 30px;
        }
      }

      .btn {
        margin-top: auto;
        font-weight: 400;
      }
    }
  }
  .transactionListWrapper {
    margin-top: 50px;
    padding: 30px 30px 0 30px;
    background: #c4c4c42e;
    .transactionList {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: "Space Grotesk", sans-serif;
      font-weight: 300;
      .heading {
        color: white;
        font-weight: 300;
        font-size: 24px;
        @media screen and (max-width: 699px) {
          font-size: 18px;
        }
      }
      .viewFullLink {
        color: white;
        // padding: 20px;
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
        @media screen and (max-width: 600px) {
          font-size: 14px;
        }
      }
    }
  }
}
.moonpay {
  padding: 20px !important;
  max-height: 600px !important;
  iframe {
    min-height: 56vh;
    width: 100%;
    max-height: 50vh;
    border: 1px solid #0000001f;
    @media screen and (max-height: 600px) {
      min-height: 65vh;
    }
    @media screen and (min-height: 601px) and (max-height: 900px) {
      min-height: 55vh;
    }
    @media screen and (min-height: 901px) and (max-height: 1200px) {
      min-height: 46vh;
    }
    @media screen and (min-height: 1201px) {
      min-height: 39vh;
    }
  }
  h5 {
    text-align: center;
  }
  .holder {
    padding: 5px;
  }
}
.transDetail-modal-wrapper {
  width: 400px;
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
  .transDetail-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    .transDetail-heading {
      font-size: 24px;
      line-height: 31px;
      text-align: left;
      color: #000000;
      font-weight: 300;
    }
    .transDetail-close-button {
      height: 26px;
      width: 26px;
      cursor: pointer;
      position: absolute;
      top: 23px;
      right: 20px;
    }
  }
  .transaction-modal-near-amount {
    display: inline-flex;
    align-items: center;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
    span {
      font-size: 16px;
      line-height: 20px;
      opacity: 0.6;
      padding-left: 12px;
    }
  }
  .transaction-modal-fee {
    font-size: 14px;
    line-height: 17.86px;
    margin-bottom: 30px;
  }
  .transaction-modal-purchase-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    .purchase-headline {
      font-weight: 500;
      font-size: 20px;
      line-height: 26px;
    }
    .purchase-date {
      font-weight: 300;
      font-size: 16px;
      line-height: 20px;
    }
  }
  .transaction-modal-purchase-item-wrapper {
    margin-bottom: 30px;
    .cardWrapper {
      display: flex;
      align-items: center;
      background-color: white;
      cursor: pointer;
      font-family: "Space Grotesk", sans-serif;
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0px;
      }
      .imageHolder {
        width: 60px;
        height: 60px;
        border-radius: 1px;
        @media screen and (max-width: 600px) {
          width: 50px;
          height: 50px;
          border-radius: 8px;
        }
        overflow: hidden;
        box-shadow: 5px 5px #f3f3f387;
        flex: none;
        .image {
          box-shadow: 6px 6px 17px #bebebe, -17px -17px 17px #ffffff;
          border-radius: 8px;
          width: 100%;
        }
      }
      .content {
        width: 100%;
        margin-left: 20px;
        .content-heading {
          font-size: 20px;
          font-weight: 300;
          font-size: 18px;
          line-height: 23px;
          @media screen and (max-width: 600px) {
            font-size: 16px;
          }
        }
        .content-details {
          opacity: 0.7;
        }
      }
      .contentType {
        text-align: end;
        opacity: 0.7;
        .contentType-heading {
          color: #000;
          opacity: .4;
          font-weight: 500;
          font-size: 14px;
          line-height: 18px;
          @media screen and (max-width: 600px) {
            font-size: 12px;
          }
        }
        .contentType-detail {
          font-size: 16px;
          @media screen and (max-width: 600px) {
            font-size: 11px;
          }
        }
      }
    }
  }
  .transaction-modal-address-wrapper {
    margin-bottom: 20px;
    .transaction-modal-from {
      margin-bottom: 5px;
      font-weight: 300;
      font-size: 16px;
      line-height: 20px;
    }
    .transaction-modal-heading {
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
    }
    .transaction-modal-detail {
      font-weight: 400;
      font-size: 14px;
    }
  }
}
.send-modal-wrapper {
  width: 400px;
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
  .send-modal-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
    .send-modal-heading {
      font-size: 24px;
      line-height: 31px;
      text-align: left;
      color: #000000;
    }
    .send-modal-close-button {
      height: 26px;
      width: 26px;
      font-size: 28px;
      background: white;
      color: #cccccc;
      cursor: pointer;
      margin-top: -8px;
    }
  }
  @include send-modal-view1();
  @include send-modal-view2();
  @include send-modal-view3();
  .nominate-button {
    margin-top: 10px;
    height: 48px;
    width: 100%;
    border-radius: 100px;
    background-color: #000000;
    color: white;
    line-height: 31px;
    font-size: 18px;
  }
}
