@import "../../assets/SCSS/Vars.scss";

@media (max-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 540px;
  }
}
.card-title {
  font-family: $space;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin-top: 60px;
}
.card-content {
  margin-top: 44px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 100%;
  .card-img {
    width: 24%;
    margin-right: 15px;
    margin-bottom: 15px;
    &:nth-child(4n) {
      margin-right: 0px;
    }
  }
}
