#new-nft-modal {
  font-family: 'Space Grotesk', sans-serif;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
  .cover {
    position: absolute;
    z-index: 998;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, .8);
  }
  .holder {
    width: 755px;
    background: #FFFFFF;
    border-radius: 12px;
    padding: 30px;
    position: relative;
    z-index: 999;
    .split {
      display: flex;
      .left {
        flex: 1;
      }

      .right {
        padding-left: 20px;
        .image-upload {
          width: 160px;
          height: 160px;
          background: #ECECEC;
          border-radius: 8px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
        }
      }
    }
  }
}

h3 {
  margin-top: 0px;
}

.input-holder {
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0px;
  }
  input,
  textarea {
    font-family: 'Space Grotesk', sans-serif;
    border: 2px solid #E3E3E3;
    border-radius: 8px;
    font-size: 16px;
    color: #999999;
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
    &[type=submit] {
      background: #000000;
      color: #fff;
      border: 1px solid #000000;
      box-sizing: border-box;
      border-radius: 100px;
      width: initial;
      min-width: 300px;
      margin-top: 20px;
    }

    &[type=checkbox] {
      min-width: initial;
      width: initial;
      margin-right: 10px;
    }
  }

  &.checkbox {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
  }
}