@import "../../../assets/SCSS/Vars.scss";

@mixin overflowScrollBar {
  &::-webkit-scrollbar {
    width: 6px;
    background-color: $neutral-100;
  }
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: white;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: $radius-md;
  }
}

header {
  display: flex;
  align-items: center;
  padding-top: $s-32;
  padding-left: $s-32;
  padding-right: $s-48;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  z-index: 9;
  // background-color: #0f161d;
  .nav {
    display: flex;
    width: 40%;
    justify-content: space-evenly;
    a {
      font-size: $fs-lead;
      color: $text-hi;
      text-decoration: none;
    }
  }
  @media screen and (max-width: 650px) {
    z-index: 13;
  }
  .logo {
    @media screen and (max-width: 650px) {
      width: 121px;
      height: 24px;
    }
  }

  .logo {
    @media (min-width:650px) and (max-width:800px) {
      width: 48px;
      max-width: unset !important;
      overflow: hidden;
    }
    @media screen and (max-width: 440px) {
      width: 40px;
      max-width: unset !important;
      overflow: hidden;
    }
  }


  .logo a img {
    @media (min-width:650px) and (max-width:800px) {
      max-width: fit-content;
    }
    @media screen and (max-width: 440px) {
      max-width: fit-content;
      height: 24px;
    }
  }

  @media screen and (max-width: 650px) {
    padding: $s-16 $s-24;
    position: fixed;
    top: 0;
    background-color: $neutral-900;
  }
  .mobile-menu {
    display: none;
    @media screen and (max-width: 650px) {
      display: initial;
      margin-right: $s-16;
      width: 36px;
      height: 20px;
      cursor: pointer;
    }
  }
  .searchWrapper {
    position: relative;
    flex: 1;
    .search {
      position: relative;
      margin-left: $s-32;
      max-width: 500px;
      margin-right: $s-32;
      @media screen and (max-width: 650px) {
        display: none;
      }
      img {
        position: absolute;
        left: 20px;
        top: 8px;
        width: 24px;
        height: 24px;
      }
      input {
        border: 1.5px solid $neutral-200;
        background: transparent;
        border-radius: $radius-full;
        padding: $s-8 $s-16 $s-8 56px;
        width: 100%;
        box-sizing: border-box;
        height: 40px;
        color: $text-hi;
        font-family: $font-body;
        font-style: normal;
        font-weight: $fw-medium;
        font-size: $fs-body;
        line-height: 20px;
        caret-color: $warning;
      }
      input::placeholder {
        font-weight: $fw-light;
        color: $text-low;
      }
    }

    .search:focus-within img {
      display: none;
    }

    .search:focus-within input {
      padding-left: 20px;
    }

    .scrollSearchResult {
      top: 50px;
      max-height: 400px;
      overflow: auto;
      margin-left: $s-32;
      max-width: 500px;
      width: 100%;
      margin-right: $s-32;
      position: absolute;
      z-index: 1;
      border-radius: $radius-md;
      padding: $s-16;
      background: #fff;
      box-sizing: border-box;
      overflow-y: scroll;
      transition: all $motion-fast ease 0s;
      @include overflowScrollBar();
      &.p-0 {
        padding: 0;
      }
    }
  }

  .right {
    margin-left: auto;
    display: flex;
    align-items: center;
    .bell {
      margin-right: $s-48;
      width: 27px;
      flex: none;
      img {
        width: 25px;
      }

      @media screen and (max-width: 567px) {
        display: none;
      }
    }

    .wallet {
      margin-right: $s-32;
      width: 24px;
      height: 24px;
      flex: none;
      @media screen and (max-width: 492px) {
        // display: none;
      }
    }

    .top-login {
      text-decoration: none;
      span {
        color: $text-hi;
        font-size: $fs-lead;
      }

      i {
        color: $text-hi;
        margin-right: $s-16;
        font-size: $fs-lead;
      }
    }

    .popUp {
      background: #ffffff;
      border: 1px solid #ffffff;
      box-sizing: border-box;
      border-radius: $radius-md;
      padding: $s-8 $s-8;
      position: absolute;
      top: 30px;
      right: 0;
      width: 200%;
      max-width: max-content;
      font-size: 14px;
      font-weight: $fw-bold;
      box-shadow: $elevation-4;
      z-index: 11;
      .popup-div {
        display: flex;
        text-decoration: none;
        color: $neutral-800;
        font-family: $font-body;
        margin: $s-8 0 $s-8 0;
        padding: 0;
        a {
          text-decoration: none;
          color: $neutral-800;
          margin-left: $s-4;
          margin-right: $s-4;
        }
        a:hover{
          color: $accent;
        }
      }
    }
  }
}

.breadcrumbs {
  color: $text-hi;
  text-transform: uppercase;
  margin-top: $s-48;
  font-weight: $fw-medium;
  font-family: $font-body;
  .home {
    cursor: pointer;
  }
  .current {
    font-weight: $fw-light;
  }
}

.user {
  width: 50px;
  height: 50px;
  cursor: pointer;
  @media screen and (max-width: 650px) {
    width: 40px;
    height: 40px;
  }
  border-radius: $radius-full;
  overflow: hidden;
  flex: none;
  .profilePic {
    width: 50px;
    height: 50px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    @media screen and (max-width: 650px) {
      width: 40px;
      height: 40px;
    }
  }
  img {
    width: 100%;
  }
}

.wallet-info {
  position: fixed;
  font-family: $font-body;
  top: 0;
  right: 0;
  height: 100vh;
  width: 500px;
  background: $neutral-900;
  z-index: 998;
  padding: $s-16;
  box-sizing: border-box;
  box-shadow: -10px 0px 20px rgb(0 0 0 / 50%);
  border-left: solid 1px rgba(225, 225, 225, 0.2);
  color: $text-hi;
  .near-icon {
    font-family: $font-body;
  }

  h3 {
    font-size: $fs-lead;
    font-weight: normal;
  }

  .stat-holder {
    margin-bottom: $s-16;
    p {
      font-size: 14px;
      margin-bottom: $s-4;
    }

    .stat {
      color: $warning;
    }
  }
}

.sidebar-close-cover {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 997;
}

.buttons {
  display: flex;
  flex-direction: column;
  text-align: center;
  button {
    margin: $s-8;
  }
}
.details {
  a {
    color: $text-hi;
  }
}

.cd {
  margin-right: $s-24;
  height: 24px;
  width: 24px;
  flex: none;
  cursor: pointer;
}

.lm-button{
  @media screen and (max-width: 650px){
    display: none;
}
}
