@import '../../../assets/SCSS/Vars.scss';

#artist-registry {
  width: 100%;
  float: left;
  padding-top: 200px;
  padding-bottom: 400px;
  @media screen and (max-width: 960px) {
    padding-bottom: 50px;
  }
  .container {
    display: flex;
    position: relative;
    @media screen and (max-width: 960px) {
      flex-direction: column;
      align-items: center;
    }
    .left {
      @media screen and (max-width: 1326px) {
        h2 {
          &.large {
            font-size: 20vw;
            line-height: 20vw;
          }
        }
      }

      @media screen and (max-width: 960px) {
        h2 {
          text-align: center;
        }
      }
    }
    .right {
      position: absolute;
      right: 0px;
      top: 150px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      @media screen and (max-width: 1326px) {
        width: 440px;
      }

      @media screen and (max-width: 960px) {
        position: initial;
        padding-top: 100px;
      }
      .top {
        margin-bottom: 30px;
        a {
          font-family: $lato;
          text-transform: uppercase;
          color: #ffffff;
          font-size: 20px;
          font-weight: 300;
          letter-spacing: 0.1px;
          border-bottom: 2px solid $red;
          padding-bottom: 14px;
          cursor: pointer;
          position: relative;
          text-decoration: none;
        }
      }
    }
  }
}
