@import "../../../assets/SCSS/Vars.scss";

.padding-section-large {
    position: relative;
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
}

#latest-releases {
  @media screen and (max-width: 582px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .container {
    display: flex;
    position: relative;
    align-items: center;
    @media screen and (max-width: 780px) {
      flex-direction: column;
      align-items: flex-start;
    }
    @media screen and (max-width: 650px) {
      align-items: center;
    }
  }

  h2 {
    &.large {
      @media screen and (max-width: 1309px) {
        font-size: 200px;
        line-height: 200px;
      }
      @media screen and (max-width: 1565px){
    font-size: 155px;
    line-height: 170px;
    }
      @media screen and (max-width: 1070px){
    font-size: 140px;
    line-height: 150px;
    }
    @media screen and (max-width: 1010px){
    font-size: 110px;
    line-height: 120px;
}

      @media screen and (max-width: 650px) {
        text-align: center;
      }
    }
  }

  .album-contain{
        margin-left: auto;
        width: fit-content;
        @media screen and (max-width: 1565px){
              margin-right: auto;
      }
        @media screen and (max-width: 1100px) {
          margin-right: unset;
          margin-left: unset;
        position: absolute;
        right: 5px;
      }
      @media screen and (max-width: 780px) {
      position: unset;
      padding-top: 70px;
      padding-left: 30px;
    }
    @media screen and (max-width: 650px) {
    padding-left: 0px;
  }
  }

  .album {
    z-index: 8;
    transform: translateZ(0px) rotate(-8deg);
    &:hover {
        filter: drop-shadow(black 0px 0px 20px);
        transition: transform 0.3s ease 0s;
        transform: scale(1.05) rotateZ(0deg);
    }
    img {
      transform: rotateZ(0deg);
      transition: ease all 0.3s ease 0s;
      max-width: 100%;
      @media screen and (max-width: 1309px) {
        transform: rotateZ(21deg);
      }
    }

    &:hover {
      img {
        transform: rotateZ(21deg);
      }
    }

    .check-all {
      font-family: "Lato", sans-serif;
      text-transform: uppercase;
      color: #fff;
      font-size: 20px;
      font-weight: 300;
      letter-spacing: 0.1px;
      border-bottom: 2px solid #e52b25;
      position: absolute;
      padding-bottom: 6px;
      cursor: pointer;
      z-index: 3;
      bottom: -45px;
      right: 20px;
    }
    .single-album1 .cd-case1 {
        width: 453px !important;
        height: 399px !important;
        @media screen and (max-width: 1565px){
          width: 386px !important;
          height: 340px !important;
      }
        @media screen and (max-width: 1070px){
          width: 336px !important;
          height: 296px !important;
    }
    @media screen and (max-width: 860px){
      width: 302px !important;
      height: 266px !important;
}
        background-color: rgb(29 29 30);
        .album-art{
          box-shadow: none;
        }
    }
  }
}
