#albums {
  // padding-top: 65px;
  @media screen and (max-width: 1830px) {
    // padding-top: 40px;
    // padding-top: 60px;
  }
  @media screen and (max-width: 600px) {
    // padding-top: 60px;
  }
  .album-grid {
    column-gap: 25px;
    margin-left: 0px !important;
  }
}
