@import '../../assets/SCSS/Vars.scss';
#profile {
  padding-top: 29px;
  .profile-cover {
    background-image: url('../../assets/images/profile-cover.png');
    width: calc(100% + 220px);
    height: 344px;
    margin-left: -218px;
    max-width: unset;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      width: 720px;
      height: 100%;
      left: 0px;
      z-index: 9;
      background: rgb(15,22,29);
      background: linear-gradient( 90deg, rgba(15,22,29,1) 18%, rgba(9,9,121,0) 100%);
      top: 0px;
    }
  }

  .profile-head-details {
    margin-top: -90px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 99;
    .profile-image {
      margin-top: -40px;
      width: 180px;
      height: 180px;
      border-radius: 50%;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 3px solid #FFFFFF;
      margin-right: 50px;
    }

    .details {
      margin-right: auto;
      margin-top: -40px;
      h3 {
        margin-bottom: 0px;
        font-size: 32px;
        color: #fff;
      }

      p {
        margin-top: 0px;
        font-size: 20px;
        color: #fff;
      }
    }

    .right-buttons {
      display: flex;
      margin-top: 35px;
      button {
        cursor: pointer;
        display: flex;
        align-items: center;
        font-weight: bold;
        font-size: 16px;
        border-radius: 50px;
        border: 0px;
        font-family: $lato;
        padding: 15px 34px;
        margin-right: 20px;
        &:last-child {
          margin-right: 0px;
        }

        &:first-child {
          margin-left: auto;
        }
        img {
          margin-left: 10px;
          margin-right: 10px;
        }
      }
    }
  }

  .recently-purchased {
    padding-right: 20px;
    padding-top: 50px;
    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 30px;
      h2 {
        font-size: 20px;
        color: #fff;
      }

      .btn {
        width: 145px;
      }
    }
  }
}