@import "../../assets/SCSS/Vars.scss";
#profile {
  padding-top: 30px;
  padding-bottom: 50px;
  @media screen and (max-width: 650px) {
    padding-top: 0px;
  }

  .recently-purchased {
    padding-top: 50px;
    @media screen and (max-width: 650px) {
      padding-left: 20px;
      padding-right: 20px;
    }
    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      // @media screen and (max-width: 650px) {
      //   margin-left: 20px;
      // }
      margin-bottom: 30px;
      h2 {
        font-size: 20px;
        font-weight: 300;
        line-height: 26px;
        color: #ffffff;
        margin: 0;
      }

      .btn {
        width: 145px;
      }
    }
  }

  .custom-playlists {
    padding-top: 30px;
    @media screen and (max-width: 650px) {
      padding-left: 20px;
      padding-right: 20px;
    }
    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 30px;
      h2 {
        font-size: 20px;
        font-weight: 300;
        line-height: 26px;
        color: #ffffff;
        margin: 0;
      }

      .btn {
        width: 145px;
      }
    }
  }

  .popup-container {
    .edit-profile {
      margin-left: 20px;
      // min-width: 95px;
      margin-top: 0;
      @media screen and (max-width: 650px) {
        // font-size: 12px !important;
        // min-width: 90px;
      }
      @media screen and (max-width: 400px) {
        // font-size: 10px !important;
        // min-width: 80px;
      }
      @media screen and (max-width: 1020px) {
        margin-left: 0px;
        transform: translateY(10px);
      }
      span{
        padding-left: 11px;
      }
    }
    @media screen and (max-width: 1020px) {
    display: block;
    }
    display: flex;
    align-items: center;
  }
}

.set_name{
  min-width: 95px;
  position: relative;
  @media screen and (max-width: 650px) {
    // font-size: 12px !important;
    // min-width: 90px;
  }
  @media screen and (max-width: 400px) {
    // font-size: 10px !important;
    // min-width: 80px;
  }
  img{
    width: 17px;
    margin-left: 0px !important;
    @media screen and (max-width: 650px) {
      width: 15px;
    }
    @media screen and (max-width: 400px) {
      // width: 13px;
    }
  }
  .popUp {
    background: #ffffff;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px 20px;
    position: absolute;
    bottom: 110%;
    left: -10px;
    width: calc(100% + 20px);
    max-width: max-content;
    font-size: 14px;
    font-weight: 700;
    box-shadow: 0px 4px 20px rgb(0 0 0 / 25%);
    z-index: 11;
    .popup-div {
      display: flex;
      text-decoration: none;
      color: #000000;
      font-family: $lato;
      margin: 7px 0px 10px 0px;
      padding: 0;
      span {
        margin-left: 5px;
      }
      .popup-img {
        margin: 0px;
        width: 32px;
      }
    }
  }
}

#profile-header .btn-wrap .set_name {
  margin-right: 0px;
  &.no-mw{
    min-width: auto;
  }
}

.copy-input-hidden {
  width: 0px;
}

.album-header {
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 650px) {
    padding-left: 20px;
    padding-right: 20px;
  }
  gap: 25px;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 30px;
  .header-title {
    line-height: 26px;
    color: #ffffff;
    line-height: 26px;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
  }
  .btn-wrap {
    border: 1px solid #ffffff;
    box-sizing: border-box;
    border-radius: 100px;
    padding: 10px 30px;
    background: transparent;
    color: #ffffff;
    font-style: normal;
    font-size: 16px;
    font-family: 'Space Grotesk';
    font-weight: 400;
    line-height: 20px;
    cursor: pointer;
    @media screen and (min-width: 1200px) {
      border: 1px solid #ffffff;
    }
    @media screen and (min-width: 1201px) {
      border: 1px solid #ffffff;
    }
    &:first-child {
      margin-right: 27px;
      @media screen and (max-width: 650px) {
        margin-right: 15px;
      }
    }

    &:last-child {
      margin-right: 0px;
    }
    @media screen and (max-width: 650px) {
      padding: 10px;
    }
  }
}

.playlist-header {
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 650px) {
    padding-left: 20px;
    padding-right: 20px;
  }
  gap: 25px;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 30px;
  .playlist-title {
    line-height: 26px;
    color: #ffffff;
    line-height: 26px;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
  }
  .btn-wrap {
    border: 1px solid #ffffff;
    box-sizing: border-box;
    border-radius: 100px;
    padding: 10px 30px;
    background: transparent;
    color: #ffffff;
    font-style: normal;
    font-size: 16px;
    font-family: 'Space Grotesk';
    font-weight: 400;
    line-height: 20px;
    cursor: pointer;
    @media screen and (min-width: 1200px) {
      border: 1px solid #ffffff;
    }
    @media screen and (min-width: 1201px) {
      border: 1px solid #ffffff;
    }
    &:first-child {
      margin-right: 27px;
      @media screen and (max-width: 650px) {
        margin-right: 15px;
      }
    }

    &:last-child {
      margin-right: 0px;
    }
    @media screen and (max-width: 650px) {
      padding: 10px;
    }
  }
}
.playlist-gutters{
@media screen and (max-width: 650px){
    padding-left: 20px;
    padding-right: 20px;
}
}

.album-block {
  display: grid;
  column-gap: 35px;
  row-gap: 53px;
  grid-template-columns: repeat(4, 1fr);
  @media screen and (max-width: 650px) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0px;
  }
  @media screen and (max-width: 450px) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0px;
  }
  @media screen and (min-width: 1600px) {
    grid-template-columns: repeat(5, 1fr);
  }
  .single-album {
    font-family: "Space Grotesk", sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #ffffff;
    .cd-case {
      width: 100%;
      // height: auto;
    }
    .album-title {
      font-size: 18px;
      line-height: 23px;
      font-weight: normal;
    }
    .artist-name {
      font-size: 14px;
      line-height: 18px;
      opacity: 0.8;
      margin-bottom: 5px;
      font-weight: normal;
      color: rgba(255, 255, 255, 0.2);
      text-decoration: none;
    }
    .album-own {
      font-size: 14px;
      margin-top: 2px;
      font-weight: normal;
      color: white !important;
    }
  }
  .profile-album-wrap {
    display: flex;
  }
}

.no-records {
  h5 {
    color: #fff;
    font-size: 14px;
    margin-top: 0px;
    margin-left: 18px;
  }
}

.album-art::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../assets/images/noise.svg");
    z-index: 3;
    background-size: 100% 100%;
  }
