@import "../../assets/SCSS/Vars.scss";

#user-dashboard {
  padding-bottom: 65px;
   .container {
    box-sizing: border-box;
     margin-top: 65px;
     width: 100%;
     max-width: 100%;
     @media (max-width: 650px) {
      margin-top: 100px;
     }
     .followed-artists {
       @media (max-width: 650px) {
        margin-left: 20px;
       }
     }
     .recently-released {
       @media (max-width: 650px) {
        margin: 0px 20px;
       }
     }
   }
  .release-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 30px;
    .header-title {
      font-size: 20px;
      font-weight: 300;
      line-height: 26px;
      color: #ffffff;
    }
    .btn-wrap {
      border: 1.5px solid #ffffff;
      box-sizing: border-box;
      border-radius: 100px;
      padding: 10px 40px;
      background: transparent;
      color: #ffffff;
      cursor: pointer;

      &:first-child {
        margin-right: 27px;
        @media screen and (max-width: 600px) {
          margin-right: 15px;
        }
      }

      &:last-child {
        margin-right: 0px;
      }
      @media screen and (max-width: 600px) {
        padding: 10px;
      }
    }
  }
  .album-block {
    .single-album {
      font-family: "Space Grotesk", sans-serif;
      font-style: normal;
      font-weight: normal;
      color: #ffffff;
      .cd-case {
        width: 100%;
        // height: auto;
      }
      .album-title {
        font-size: 18px;
        line-height: 23px;
        font-weight: normal;
      }
      .artist-name {
        font-size: 14px;
        line-height: 18px;
        opacity: 0.8;
        margin-bottom: 5px;
        font-weight: normal;
        color: rgba(255, 255, 255, 0.2);
        text-decoration: none;
      }
      .album-own {
        font-size: 14px;
        margin-top: 2px;
        font-weight: normal;
        color: white !important;
      }
    }
    .profile-album-wrap {
      display: flex;
    }
  }
  .followed-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    .header-title {
      font-size: 20px;
      font-weight: 300;
      line-height: 26px;
      color: #ffffff;
    }
    .btn-wrap {
      border: 1.5px solid #ffffff;
      box-sizing: border-box;
      border-radius: 100px;
      padding: 10px 40px;
      background: transparent;
      color: #ffffff;
      cursor: pointer;

      &:first-child {
        margin-right: 27px;
        @media screen and (max-width: 600px) {
          margin-right: 15px;
        }
      }

      &:last-child {
        margin-right: 0px;
      }
      @media screen and (max-width: 600px) {
        padding: 10px;
      }
    }
  }
}

.no-records {
  h5 {
    color: #fff;
    font-size: 30px;
    margin-top: 0px;
  }
}
.no-artists {
  color: rgba(255, 255, 255, 0.2);
  font-weight: 400;
  width: 100%;
  font-size: 20px;
}

.not-following {
  max-width: 600px;
  .placeholder-graphic {
  background-color: #586C7D;
  opacity: 0.2;
  height: 180px;
  border-radius: 100px;
  background-image: url("../../assets/images/no-follow-bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  display: flex;
  justify-content: center;
}
h5 {
  margin-top: 20px;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  opacity: 0.8;
  text-align: center;
  a {
    color: #FFFFFF;
  }
}
@media (max-width: 650px){
    margin-right: 20px;
}
}

.no-releases {
  max-width: 600px;
  .placeholder-graphic {
  background-color: #586C7D;
  opacity: 0.2;
  height: 180px;
  background-image: url("../../assets/images/no-releases-bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  display: flex;
  justify-content: center;
}
 h5 {
  margin-top: 20px;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  opacity: 0.8;
  text-align: center;
  a {
    color: #FFFFFF;
  }
}
}
