#user-dashboard {
    padding-top: 29px;
    padding-bottom: 100px;
    font-family: Space Grotesk;
    font-style: normal;
    font-weight: normal;
    .container {
        max-width: 100%;
        padding-right: 232px;
        padding-left: 185px;
        margin-right: auto;
        margin-left: auto;
    }
    @media (max-width: 768px){
        .container {
            max-width: 720px;
        }
    }

    @media (max-width: 576px){
        .container {
            max-width: 540px;
        }
    }
    .album-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .header-title {
            font-size: 20px;
            line-height: 26px;
            color: #FFFFFF;
        }
        .mr-27 {
            margin-right: 27px;
        }
        .btn-wrap {
            border: 1.5px solid #FFFFFF;
            box-sizing: border-box;
            border-radius: 100px;
            padding: 10px 40px;
            background: transparent;
            color: #FFFFFF;
        }
    }
    .album-block {
        display: flex;
        margin: 10px 0px 10px 0px;
        justify-content: space-around;
        align-items: center;
        .single-album {
            margin-right: 20px;
            font-family: Space Grotesk;
            font-style: normal;
            font-weight: normal;
            color: #FFFFFF;
            .album-title {
                font-size: 18px;
                line-height: 23px;
                font-weight: normal;
            }
            .artist-name {
                font-size: 14px;
                line-height: 18px;
                opacity: 0.8;
                margin-bottom: 5px;
                font-weight: normal;
            }
            .album-own {
                font-size: 14px;
                margin-top: 2px;
                font-weight: normal;
            }
        }
    }
}