@import "../../assets/SCSS/Vars.scss";
#user-dashboard {
  padding-top: 29px;
  padding-bottom: 100px;
  font-family: $space;
  font-style: normal;
  font-weight: normal;
  // .container {
  //   max-width: 100%;
  //   padding-right: 232px;
  //   padding-left: 185px;
  //   margin-right: auto;
  //   margin-left: auto;
  // }
  // @media (max-width: 768px) {
  //   .container {
  //     max-width: 720px;
  //   }
  // }

  // @media (max-width: 576px) {
  //   .container {
  //     max-width: 540px;
  //   }
  // }
  .album-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 50px;
    .header-title {
      font-size: 20px;
      line-height: 26px;
      color: #ffffff;
    }
    .btn-wrap {
      border: 1.5px solid #ffffff;
      box-sizing: border-box;
      border-radius: 100px;
      padding: 10px 40px;
      background: transparent;
      color: #ffffff;
      cursor: pointer;
      
      &:first-child {
        margin-right: 27px;
        @media screen and (max-width: 600px) {
          margin-right: 15px;
        }
      }

      &:last-child {
        margin-right: 0px;
      }
      @media screen and (max-width: 600px) {
        padding: 10px;
      }
    }
  }
  .album-block {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 35px;
    row-gap: 53px;
    @media screen and (max-width: 600px) {
      grid-template-columns: repeat(2, 1fr);
    }
    .single-album {
      font-family: 'Space Grotesk', sans-serif;
      font-style: normal;
      font-weight: normal;
      color: #ffffff;
      .cd-case {
        width: 100%;
        // height: auto;
      }
      .album-title {
        font-size: 18px;
        line-height: 23px;
        font-weight: normal;
      }
      .artist-name {
        font-size: 14px;
        line-height: 18px;
        opacity: 0.8;
        margin-bottom: 5px;
        font-weight: normal;
      }
      .album-own {
        font-size: 14px;
        margin-top: 2px;
        font-weight: normal;
      }
    }
    .profile-album-wrap {
      display: flex;
    }
  }
}

.no-records {
  h5 {
    color: #fff;
    font-size: 30px;
    margin-top: 0px;
  }
}
