@import '../../../assets/SCSS/Vars.scss';

.padding-section-fullheight {
    display: flex;
    height: calc(100vh - 70px);
    padding-bottom: 70px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    @media screen and (max-width: 650px) {
        height: calc(100vh);
        padding-bottom: 56px;
    }
}
.padding-banner {
    width: -webkit-fill-available;
    padding-right: 48px;
    padding-left: 48px;
    @media screen and (max-width: 650px) {
      padding-right: 0px;
      padding-left: 0px;
   }
    @media screen and (max-width: 440px) {
      padding-right: 20px;
      padding-left: 20px;
   }
}
 .padding-global {
     // width: 100%;
     width: -webkit-fill-available;
     padding-right: 48px;
     padding-left: 48px;
     @media screen and (max-width: 440px) {
       padding-right: 20px;
       padding-left: 20px;
    }
}
 .container-large {
     position: relative;
     width: 100%;
     max-width: 75rem;
     margin-right: auto;
     margin-left: auto;
}
 #banner {
     .hero_section {
         @media screen and (max-width: 1345px) {
             align-items: center;
        }
         .top {
             display: flex;
             align-items: center;
             @media screen and (max-width: 650px) {
             justify-content: center;
           }
        }
         h1 {
             font-family: $oswald;
             margin: 0px;
             color: #fff;
             text-transform: uppercase;
             font-size: 200px;
             line-height: 210px;
             z-index: 3;
             position: relative;
             &.hero-heading{
                 color: #fff;
                 white-space: nowrap;
            }
             @media screen and (max-width: 1565px) {
                 font-size: 155px;
                 line-height: 170px;
            }
             @media screen and (max-width: 1070px) {
                 font-size: 140px;
                 line-height: 150px;
            }
             @media screen and (max-width: 1010px) {
                 font-size: 110px;
                 line-height: 120px;
            }
             @media screen and (max-width: 754px) {
                 font-size: 72px;
                 line-height: 82px;
            }
            @media screen and (max-width: 479px){
                font-size: 44px;
                line-height: 50px;
            }
             &.red {
                 -webkit-text-stroke-width: 2px;
                 -webkit-text-stroke-color: $red;
                 color: transparent;
                 @media screen and (max-width: 754px) {
                     -webkit-text-stroke-width: 1.5px;
                }
                @media screen and (max-width: 650px) {
                    text-align: center;
               }
                 @media screen and (max-width: 754px) {
                     // -webkit-text-stroke-width: 1px;
                }
                @media screen and (max-width: 479px){
                    -webkit-text-stroke-width: 1px;
                }
                //  @media screen and (max-width: 360px) {
                //      -webkit-text-stroke-width: .75px;
                // }
            }
        }
         .paragraph-text {
             width: 340px;
             padding-left: 60px;
             z-index: 9;
             @media screen and (max-width: 1565px) {
                 padding-left: 30px;
                  width: 300px;
            }
             @media screen and (max-width: 900px) {
                 display: none;
            }
             p {
                 color: #ffffff;
                 font-size: 20px;
                 font-weight: 300;
                 letter-spacing: 0.1px;
                 margin-bottom: 0px;
                 line-height: 33px;
                 margin-top: revert;
                 @media screen and (max-width: 1565px) {
                     margin-top: 10px;
                }
                 @media screen and (max-width: 1010px) {
                     margin-top: 5px;
                     line-height: 27px;
                }
            }
        }
         .mobile-paragraph-text {
             position: relative;
             z-index: 8;
             @media screen and (min-width: 900px) {
                 display: none;
            }
             p {
                 color: #ffffff;
                 font-size: 20px;
                 font-weight: 300;
                 letter-spacing: 0.1px;
                 margin-bottom: 0px;
                 line-height: 33px;
                 max-width: 440px;
                 text-align: left;
                 z-index: 9;
                 @media screen and (max-width: 650px) {
                     text-align: center;
                     margin-left: auto;
                     margin-right: auto;
                     font-size: 16px;
                     line-height: 24px;
                     max-width: 335px;
                }
                @media screen and (max-width: 375px) {
                    max-width: 280px;
               }
            }
        }
    }
     .triangle-image {
         position: absolute;
         bottom: -150px;
         right: -175px;
         z-index: 2;
         img{
             max-height: 500px;
        }
         @media screen and (max-width: 1070px) {
             opacity: .4;
        }
    }
}
