.inner-content-album-modal {
  display: flex;
  justify-content: space-between;
  .modal-album-title {
    display: grid;
    width: 100%;
    .pointer {
      white-space: nowrap;
    }
    &.playlist {
      grid-template-columns: 0.3fr 2.7fr 0.5fr;
    }
    &.can-sell {
      margin-bottom: 10px;
      grid-template-columns: 0.3fr 0.7fr 1fr 0.8fr !important;
    }
  }
  .fn-white {
    color: black;
    min-width: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  i {
    color: #ad0c0c82;
  }
}
.sell {
  margin-left: 0 !important;
  // padding: 5px;
  width: 100% !important;
  max-width: 56px;
  // border: 2px solid rgba(255, 255, 255, 0.8) !important;
}
.view {
  width: 100%;
  text-align: center;
  color: white;
  font-weight: 400;
  opacity: 0.8;
  cursor: pointer;
}
.duration {
  width: 100%;
  text-align: left !important;
  font-size: 14px;
}

.solid-pause {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  color: #000;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
