@import "../../../assets/SCSS/Vars.scss";
#new-nft-modal {
    font-family: $font-body;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
		.cover {}

		.holder {
			padding: $s-32;
			h3 {
			margin: 0px;
	    font-style: normal;
	    font-weight: $fw-light;
	    font-size: $fs-h5;
	    line-height: 31px;
			}
			p {
				font-style: normal;
				font-weight: $fw-light;
				font-size: $fs-body;
				line-height: 20px;
				margin: 0 0 $s-16 0;
				opacity: 0.8;
			}
	}
	.single-song {
		.drag {
			color: $neutral-800;
		}
		.left {
			.track {
				color: $neutral-800;
				justify-content: space-between;
			}
		}
	}
	.holder {
		overflow-x: scroll;
		.error {
			color: $accent;
		}
		width: 755px;
		.split {
			display: flex;
			margin-bottom: $s-16;
			// max-height: 250px;
			overflow-y: auto;
			// border-radius: 10px;
			padding-right: $s-8;
			&#style-4::-webkit-scrollbar-track {
				box-shadow: inset 0 0 6px $neutral-300;
				background-color: $neutral-100;
				border-radius: $radius-md;
			}

			&#style-4::-webkit-scrollbar {
				width: 10px;
				background-color: $neutral-100;
			}

			&#style-4::-webkit-scrollbar-thumb {
				background-color: $neutral-300;
				border: 2px solid $neutral-300;
				border-radius: $radius-md;
			}
			.left {
				flex: 1;
			}

			.right {
				padding-left: $s-16;
				.image-upload {
					width: 160px;
					height: 160px;
					overflow: hidden;
					background: $neutral-100;
					border-radius: $radius-md;
					display: flex;
					align-items: center;
					justify-content: center;
					cursor: pointer;
				}
			}
		}
	}
	.close-icon {
		position: absolute;
		top: $s-16;
		right: $s-16;
		z-index: 999;
		cursor: pointer;
	}
	.song-list {
    max-height: 220px;
    overflow-y: auto;
		ul {
			padding-left: 0px;
		}
	}

	.uploader {
		margin-top: $s-16;
		.upload-dropzone {
			cursor: pointer;
			border: 2px solid $neutral-800;
			border-radius: $radius-md;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding: $s-16;
			height: 110px;
      &.disabled {
        background: $neutral-200;
      }
			h5,
			p {
				margin: 0px;
				font-style: normal;
				font-weight: normal;
			}

			h5 {
				font-size: $fs-body;
			}

			p {
				font-size: 14px;
			}

			img {
				margin-bottom: $s-8;
			}
		}
	}
}

h3 {
	margin-top: 0px;
}
.policy-wrap {
	width: fit-content;
	margin: 0 auto;
}
.album-uploader {
	margin-top: $s-4;
	display: flex;
	flex-direction: row;
	color: $neutral-800;
	align-items: center;
	justify-content: space-between;
	.upload-progress {
		background: $warning;
		height: 5px;
	}
}
.input-holder {
	margin-bottom: $s-8;
	text-align: left;
	&:last-child {
		margin-bottom: 0px;
	}
	display: flex;
	flex-direction: column;
	.upload-holder {
		margin-top: $s-4;
		display: flex;
		flex-direction: row;
		color: $neutral-800;
		align-items: center;
		justify-content: space-between;
		.upload-progress {
			background: blue;
			height: 5px;
		}
	}
	input,
	textarea {
		font-family: $font-body;
		border: 1.5px solid $neutral-200;
		border-radius: $radius-md;
		font-size: $fs-body;
		color: $neutral-500;
		padding: $s-8 $s-16;
		width: 100%;
		box-sizing: border-box;
		&[type="submit"] {
			background: $neutral-800;
			color: $text-hi;
			border: 1px solid $neutral-800;
			box-sizing: border-box;
			border-radius: $radius-full;
			width: initial;
			min-width: 300px;
			margin-top: $s-16;
		}

		&[type="checkbox"] {
			min-width: initial;
			width: initial;
			margin-right: $s-8;
		}
	}
	input:focus{
		border: 1.5px solid $neutral-800;
	}

	&.checkbox {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		justify-content: flex-end;
	}
}

// @media screen and (min-width: 900px) {
//   .split {
//     background: red;
//     &body {
//       overflow: hidden;
//     }
//   }
// }

.draggable-item,
.sortableHelper {
	z-index: 99999;
}

.drag {
	cursor: grab;
	margin-right: $s-8;
}

.single-song {
	display: flex;
	margin-bottom: $s-16;
	align-items: center;
	&:last-child {
		margin-bottom: 0px;
	}
	.left {
		flex: none;
		.track {
			border: 2px solid $neutral-800;
			border-radius: $radius-md;
			padding: $s-8 $s-32;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			width: 250px;
			img {
				margin-left: $s-8;
			}
		}
	}

	.right {
		flex: 1;
	}

	.trash {
		display: flex;
		margin-left: $s-8;
		img {
			cursor: pointer;
		}
	}
}

.crop-modal {
  position: absolute;
  z-index: 9991;
  background: #fff;
  padding: $s-48;
  max-height: 90%;
  max-width: 90%;
  .bottom {
    text-align: center;
    padding-top: $s-16;
  }
}

.crop-cover {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.9);
  z-index: 999;
}
