@import "../../../assets/SCSS/Vars.scss";

#albums-content {
	display: flex;
	font-family: $space;
	font-style: normal;
	font-weight: normal;
	// height: 388px;
	// height: 370px;
	.left-sec-wrapper {
		background: #242424;
		padding: 5px 10px;
		color: #fff;
		width: 389px;
	}
	.bg-song-img {
		background: url("../../../assets/images/cdblack.png");
		// width: 50%;
		background-size: cover;
		background-repeat: round;
		width: 410px;
		height: 410px;
		margin-left: 76px;
		margin-top: 7px;
	}
	.album-top {
		display: flex;
		.album-img {
			width: 130px;
			height: 130px;
			overflow: hidden;
			img{
				width: 100%;
			}
		}
		.album-right {
			// padding-left: 20px;
			.title {
				font-size: 20px;
				line-height: 31px;
				color: #ffffff;
				margin-bottom: 4px;
				margin-top: 8px;
			}
			.artist-title {
				font-size: 16px;
				line-height: 20px;
				color: #ffffff;
				opacity: 0.8;
				margin-bottom: 12px;
			}
			.view-detail-sec {
				font-size: 16px;
				line-height: 20px;
				text-decoration-line: underline;
				color: #fff;
				margin-bottom: 8px;
				cursor: pointer;
			}
		}
	}
	// .viewdetails-top {
	// 	display: flex;
	// 	.back-img {
	// 		height: 22px;
	// 		width: 16px;
	// 		margin-top: 7px;
	// 		margin-left: 5px;
	// 		cursor: pointer;
	// 	}
	// 	.details-banner {
	// 		font-family: $space;
	// 		font-style: normal;
	// 		font-weight: normal;
	// 		font-size: 24px;
	// 		line-height: 31px;
	// 		color: black;
	// 		margin-left: 23%;
	// 		margin-top: 3px;
	// 	}
	// }
	.details-content {
		height: 250px;
		overflow-y: auto;
		overflow-x: hidden;
		.sub-content {
			font-family: $space;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 20px;
			color: black;
		}
	}
	.memory-card {
		clip-path: polygon(35% 0, 48% 16%, 100% 16%, 100% 100%, 0 100%, 0 0);
		background: #303030;
		width: 115px;
		height: 84px;
		border-radius: 6px;
		.mint-text {
			font-family: $space;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 18px;
			letter-spacing: 0.05em;
			color: #ffffff;
			margin-left: 7px;
			padding-top: 5px;
		}
		.mint-number {
			font-family: $space;
			font-style: normal;
			font-weight: normal;
			font-size: 37px;
			line-height: 54px;
			letter-spacing: 0.05em;
			color: #ffffff;
			margin-left: 27px;
			text-shadow: 4.08216e-16px 6.66667px 13.3333px rgba(51, 51, 51, 0.492);
		}
	}
	.album-bottom {
		// padding-top: 32px;
		.album_song {
			width: 100%;
			text-align: left;
			tr {
				.first-td {
					width: 50%;
				}
				.second-td {
					width: 25%;
				}
				.third-td {
					width: 25%;
				}
				.pointer {
					cursor: pointer;
				}
				td {
					.album_wrap {
						overflow: hidden;
						word-break: break-all;
						text-overflow: clip;
						font-size: 14px;
						height: 40px;
						display: flex;
						align-items: center;
						img {
							margin-right: 5px;
						}
					}
				}
			}
		}
		.album_Title {
			display: flex;
			justify-content: space-between;
			align-items: center;
			p {
				font-family: $space;
				font-size: 13px;
				letter-spacing: 2px;
				color: #ffffff;
				opacity: 50%;
				text-transform: uppercase;
			}
		}
	}
	.inner-content-album-modal {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.modal-album-title {
			display: grid;
			grid-template-columns: 0.3fr 0.7fr 1fr 0.5fr;
			align-items: center;
			&.playlist {
				grid-template-columns: 0.3fr 2.7fr 0.5fr !important;
			}
			.play-pause-btn {
				display: flex !important;
				align-items: center;

				img {
					height: 36px !important;
					width: 25px !important;
				}
				> div {
					display: flex;
					align-items: center;
				}
			}
		}
	}
}

#general-modal .holder .sub-content {
	text-align: left;
	margin-left: 7px;
}
