.cardWrapper {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 25px;
  cursor: pointer;
  font-family: 'Space Grotesk', sans-serif;
  .imageHolder {
    width: 15%;
    height: 15%;
    .image {
      box-shadow: 6px 6px 17px #bebebe, -17px -17px 17px #ffffff;
      border-radius: 8px;
    }
  }
  .content {
    width: 100%;
    margin-left: 20px;
    .content-heading {
      font-size: 20px;
      font-weight: bold;
      padding: 3px;
    }
    .content-details {
      padding: 3px;
      opacity: 0.7; 
    }
  }
  .contentType {
    text-align: end;
    opacity: 0.7;
    .contentType-heading {
      font-size: 18px;
      font-weight: bold;
    }
    .contentType-detail {
      font-size: 16px;
    }
  }
}