.cardWrapper {
  display: flex;
  align-items: center;
  background-color: white;
  cursor: pointer;
  font-family: 'Space Grotesk', sans-serif;
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0px;
  }
  .imageHolder {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 5px 5px #f3f3f387;
    flex: none;
    .image {
      width: 100%;
    }
  }
  .content {
    width: 100%;
    margin-left: 20px;
    .content-heading {
      font-size: 20px;
      font-weight: bold;
    }
    .content-details {
      opacity: 0.7; 
    }
  }
  .contentType {
    text-align: end;
    opacity: 0.7;
    .contentType-heading {
      font-size: 18px;
      font-weight: bold;
      color: #999;
    }
    .contentType-detail {
      font-size: 16px;
    }
  }
}