.cardWrapper {
  display: flex;
  align-items: center;
  background-color: white;
  cursor: pointer;
  font-family: 'Space Grotesk', sans-serif;
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0px;
  }
  .imageHolder {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 5px 5px #f3f3f387;
    flex: none;
    .image {
      box-shadow: 6px 6px 17px #bebebe, -17px -17px 17px #ffffff;
      border-radius: 8px;
      width: 100%;
    }
  }
  .content {
    width: 100%;
    margin-left: 20px;
    .content-heading {
      font-size: 15px;
      font-weight: bold;
    }
    .content-details {
      opacity: 0.7; 
    }
  }
  .contentType {
    text-align: end;
    opacity: 0.7;
    .contentType-heading {
      font-size: 14px;
      @media screen and (max-width: 600px) {
        font-size: 14px;
      }
      font-weight: bold;
      color: #999;
    }
    .contentType-detail {
      font-size: 11px;
      @media screen and (max-width: 600px) {
        font-size: 11px;
      }
    }
  }
}