@import "../../../assets/SCSS/Vars.scss";

#artist-header {
  .container {
    margin-top: -140px;
    position: relative;
    z-index: 8;
    @media screen and (max-width: 650px) {
      margin-top: 0px;
      padding: 0 20px;
    }
    @media screen and (max-width: 1280px) {
      margin-top: -110px;
    }
    @media screen and (max-width: 950px) {
      margin-top: -65px;
    }
  }
  .profile-cover {
    margin-left: -220px;
    height: 340px;
    width: 100vw;
    @media screen and (max-width: 1280px) {
      height: 400px;
      width: 100vw;
    }
    @media screen and (max-width: 650px) {
      height: 190px;
      width: 100vw;
      margin-left: 0px;
      margin-right: 0px;
    }
    max-width: unset;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &:after {
    content: "";
    height: 340px;
    @media screen and (max-width: 650px) {
         height: 220px;
       }
       width: 700px;
       background: rgb(15, 22, 29);
      background: linear-gradient(
         90deg,
        rgba(15, 22, 29, 1) 19%,
        rgba(15, 22, 29, 0) 100%
     );
      position: absolute;
      top: 0px;
     left: 0px;
     }
     &:after {
     content: "";
     @media screen and (max-width: 1280px) {
          height: 400px;
        }
        @media screen and (max-width: 650px) {
          height: 190px;
        }
        width: 700px;
        background: rgb(15, 22, 29);
       background: linear-gradient(
          90deg,
         rgba(15, 22, 29, 1) 19%,
         rgba(15, 22, 29, 0) 100%
      );
       position: absolute;
       top: 0px;
      left: 0px;
      }

    &.default {
      background-size: contain;
      background-position: right;
      background-color: #5a6c7a;
    }
  }
  .profile-head-details {
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
    .profile-wrap {
      display: flex;
      @media screen and (max-width: 950px) {
            display: block;
      }
      flex-wrap: wrap;
      gap: 50px;
      @media screen and (max-width: 1280px) {
        gap: 30px;
      }
      @media screen and (max-width: 650px) {
        gap: 15px;
        justify-content: space-between;
      }
    }
    .profile-image {
      width: 180px;
      height: 180px;
      @media screen and (max-width: 1280px) {
        width: 140px;
        height: 140px;
      }
      @media screen and (max-width: 950px) {
        width: 120px;
        height: 120px;
      }
      @media screen and (max-width: 650px) {
        width: 100px;
        height: 100px;
      }
      border-radius: 50%;
      overflow: hidden;
      border: solid 3px #fff;
      .profilePic {
        width: 180px;
        height: 180px;
        @media screen and (max-width: 1280px) {
          width: 140px;
          height: 140px;
        }
        @media screen and (max-width: 950px) {
          width: 120px;
          height: 120px;
        }
        @media screen and (max-width: 650px) {
          width: 100px;
          height: 100px;
        }
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      img {
        max-width: 100%;
        height: 100%;
      }
    }

    .details {
      font-family: $space;
      font-style: normal;
      font-size: 32px;
      font-weight: 300;
      margin-top: 55px;
      span{
        text-shadow: 0 1px #171717;
      }
      .artist-badge {
        text-shadow: none;
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
        color: #FFFFFF;
        padding-right: 18px;
        height: 35px;
        border-radius: 4px;
        background: #FA7C05;
        box-shadow: inset 52px -52px 52px rgba(27, 109, 109, 0.1), inset -52px 52px 52px rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(36.4px);
        img{
          padding-left: 10px;
          padding-right: 8px;
        }
        @media screen and (max-width: 650px) {
          margin-bottom: 10px;
        }
      }
      @media screen and (max-width: 1280px) {
      margin-top: 25px;
      }
      @media screen and (max-width: 800px) {
      transform: translateY(20px);
      }
      @media screen and (max-width: 650px) {
        font-size: 30px;
        transform: none;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis !important;
        display: inherit;
      }
      color: #ffffff;
      display: flex;
      flex-direction: column;
      align-items: self-start;
      .no_of_songs {
        font-size: 20px;
        text-align: left;
        &:first-child {
          margin-right: 20px;
        }
        @media screen and (max-width: 650px) {
          font-size: 17px;
        }
      }
      h3 {
        margin-bottom: 0px;
        font-size: 32px;
        color: #fff;
      }

      p {
        margin-top: 0px;
        font-size: 20px;
        color: #fff;
      }
    }
  }

  .btn-wrap {
    align-self: flex-end;
    margin-bottom: 20px;
    position: absolute;
    right: 37px;
    @media screen and (max-width: 1280px) {
      margin-bottom: 15px;
    }
    @media screen and (max-width: 1020px) {
      // margin-bottom: 0px;
      // transform: translateY(34px);
    }
    @media screen and (max-width: 950px) {
      align-self: unset;
      transform: translateY(-12.5px);
    }
    @media screen and (max-width: 650px) {
      // transform: translateY(-8px);
      right: 20px;
      margin-right: 0px;
      margin-bottom: 0px;
    }
    .react-share__ShareButton{
      min-height: inherit;
      span {
        display: block;
      }
    }
    button {
      background: #ffffff;
      color: black;
      cursor: pointer;
      // display: flex;
      align-items: center;
      font-weight: bold;
      font-size: 16px;
      border-radius: 50px;
      border: 0px;
      font-family: $lato;
      padding: 15px 30px;
      line-height: 19px;
      // min-width: 140px;
      min-height: 49px;
      min-width: max-content;
      @media screen and (max-width: 400px) {
            min-width: unset;
      }
      @media screen and (max-width: 650px) {
        width: 100%;
      }
      &:last-child {
        margin-right: 0px;
      }
      img {
        margin-right: 12px;
      }
    }
    .headerBtn{
      display: grid;
      gap: 15px;
      a {
        text-decoration: none;
      }
      @media screen and (max-width: 1020px) {
        display: grid;
      }
      @media screen and (max-width: 650px) {
        margin-right: 0px;
      }
    }
    .follow-button {
      @media screen and (max-width: 1020px) {
        margin-bottom: 32px;
      }
      @media screen and (max-width: 950px) {
        margin-bottom: 60px;
      }
      @media screen and (max-width: 650px) {

      }
    }
  }

  .details {
    @media screen and (max-width: 650px) {
      &.mobile {
        margin-left: 20px;
        display: flex;
        font-family: $space;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 41px;
        flex-direction: column;
        color: #ffffff;
        .no_of_songs {
          font-size: 18px;
        }
      }
    }
  }
}
