.single-album1 {
  position: relative;
  font-family: "Space Grotesk";
  width: 100%;
  .album-own {
    color: white;
  }
  .artist-name {
    text-decoration: none;
  }

  // the code below is for if we want to add a plastic film over the cd before it's sold.

  // .cd-case1::after {
  //   content: "";
  //   position: absolute;
  //   opacity: .75;
  //   mix-blend-mode: overlay;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   background-image: url("../../../assets/images/Plastic_wrap_7.png");
  //   z-index: 3;
  //   background-size: 100% 100%;
  // }

  .cd-case1 {
    width: 100%;
    aspect-ratio: 100 / 86;
    position: relative;
    background-size: cover;
    padding: 4px 4px 2px 0px;
    box-sizing: border-box;
    overflow: hidden;
    display: inline-block;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-image: url("../../../assets/images/closed-case.png");
    z-index: 1;
    background-color: rgb(0 0 0 / 5%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    .art-cover {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    .album-art {
      &.available::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("../../../assets/images/noise.svg");
        z-index: 3;
        background-size: 100% 100%;
      }
      &.sold::after {
        content: "";
        position: absolute;
        opacity: .75;
        width: 100%;
        height: 100%;
        background-color: #0c0e16;
        background: linear-gradient(180deg, #0C0E16 0%, #0c1113 87.67%);
        backdrop-filter: blur(10px);
        filter: drop-shadow(0px 14px 24px rgba(0, 0, 0, 0.25));
      }
      top: 0;
      left: 9.5%;
      width: 91%;
      height: 100%;
      // top: 3%;
      // left: 14%;
      // width: 84%;
      // height: 95%;
      // background: rgba(0, 0, 0, 0);
      // box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5), inset 0px 0px 16px 2px rgba(0, 0, 0, 0.1),
      // inset 0px 0px 0px 1px rgba(255, 255, 255, 0.3);
      // backdrop-filter: blur(10px);
      border-radius: 1px;
      position: relative;
      z-index: -2;
      background-size: 100% 100% !important;
    }
    // noise filter for album artwork
    // .album-art::after {
    //   content: "";
    //   position: absolute;
    //   // opacity: .35;
    //   top: 0;
    //   left: 0;
    //   width: 100%;
    //   height: 100%;
    //   background-image: url("../../../assets/images/noise.svg");
    //   z-index: 3;
    //   background-size: 100% 100%;
    // }
    // .album-art::before {
    //   content: "";
    //   position: absolute;
    //   opacity: .65;
    //   width: 100%;
    //   height: 100%;
    //   background-color: #0c0e16;
    // }
    .sup {
      height: 4.6%;
      width: 14%;
      background: rgba(255, 255, 255, 0.15);
      box-shadow: inset 0px 0px 6px 1px rgba(0, 0, 0, 0.22),
        inset 0px 0px 1px 1px rgba(255, 255, 255, 0.17);
    }
    img {
      width: 100%;
    }
    .mint-sticker {
      &.available {
        height: 60px;
        width: 60px;
        background-image: url("../../../assets/images/mint-sticker.png");
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 3;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        span {
          font-size: 11px;
          text-transform: uppercase;
          font-weight: bold;
          text-align: center;
          font-family: Gotham;
        }
      }
      &.sold {
        background-image: url("../../../assets/images/sold-out.png");
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        height: 43px;
        width: 67px;
        bottom: 7%;
        right: 7%;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        span {
          display: none;
        }
      }
      height: 23%;
      width: 23%;
      position: absolute;
      background-size: cover;
      bottom: 3%;
      right: 5%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  // .cd-case1:hover {
  // filter: drop-shadow(black 0px 0px 10px);
  // transition: transform 0.3s ease 0s;
  // transform: scale(1.02);
  // }
  // .cd-case1:active {
  // filter: drop-shadow(black 0px 0px 0px);
  // transition: transform 0.1s ease 0s;
  // transform: scale(1.00);
  // }
  h3 {
    font-size: 18px;
    @media screen and (max-width: 600px) {
      font-size: 13px;
    }
    @media screen and (max-width: 400px) {
      font-size: 12px;
    }
    color: #fff;
    // margin: 10px 0 5px 0;
    margin-bottom: 3px;
    margin-top: 10px;
    font-weight: 300;
  }

  h4 {
    color: rgba(255, 255, 255, 0.8);
    margin-top: 0px;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 0;
  }
}
.modal-album {
  position: absolute;
  .modal {
    .holder {
      background-image: url("../../../assets/images/cdcase-new.png");
      background-repeat: no-repeat;
      background-size: cover;
      padding: 0px;
      // padding: 10px 15px;
      // background-color: #1d1d1d;
      background-color: transparent;
      border-radius: 0;
      width: 800px;
      height: 372px;
      // margin: 30px 0 30px 0;
      @media screen and (max-width: 840px) {
      width: 375px;
      }
      @media screen and (max-width: 600px) {
        // width: 350px;
      }
    }
  }
}
.d-none {
  display: none;
}
.d-block {
  display: block;
}

.the-title {
  &.playlist-title {
    text-align: center;
    position: absolute;
    bottom: 51px;
    width: 95%;
    @media screen and (max-width: 1400px) {
      padding-left: 23px;
      padding-right: 5px;
    }
    padding-left: 69px;
    padding-right: 24px;
    box-sizing: border-box;
    h3 {
      font-family: "Permanent Marker", cursive;
      width: 100%;
      display: inline-block;
      color: #000;
      margin-bottom: 9px;
    }
  }
}
