@import "../../../assets/SCSS/Vars.scss";

@mixin overflowScrollBar {
  &::-webkit-scrollbar {
    width: 6px;
	  background-color: $neutral-100;
  }
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	  background-color: white;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: $radius-md;
  }
}
#main-side-nav {
  transition: all $motion-base;
  position: fixed;
  top: 145px;
  left: 56px;
  z-index: 99;
  @media screen and (max-width: 800px) {
   left: 7px;
  }
  @media screen and (max-width: 650px) {
    display: none;
    padding-top: 80px;
    &.mobile-open {
      display: initial;
      position: fixed;
      top: 0px;
      left: 0px;
      background: $neutral-900;
      padding-bottom: $s-48;
      width: 100%;
      height: 100%;
      z-index: 12;
    }
  }
  .mobileSearchWrapper {
    @media screen and (min-width: 700px) {
      display: none;
    }
    position: relative;
    .mobileSearch {
      position: relative;
      margin-left: $s-16;
      margin-right: $s-16;
      width: -webkit-fill-available;
      margin-bottom: $s-24;
      img {
        position: absolute;
        left: $s-16;
        top: $s-8;
        width: 24px;
        height: 24px;
      }
      input {
        border: 1.5px solid $neutral-200;
        background: transparent;
        border-radius: $radius-full;
        padding: $s-8 $s-16 $s-8 56px;
        width: 100%;
        box-sizing: border-box;
        height: 40px;
        color: $text-hi;
        font-family: $font-body;
        font-style: normal;
        font-weight: $fw-medium;
        font-size: $fs-body;
        line-height: 20px;
        caret-color: $warning;
      }
      input::placeholder {
        font-weight: $fw-light;
        color: $text-low;
      }
    }
    .mobileScrollSearchResult {
      top: 47px;
      max-height: 274px;
      overflow: auto;
      margin-left: $s-16;
      margin-right: $s-16;
      width: -webkit-fill-available;
      position: absolute;
      z-index: 1;
      border-radius: $radius-md;
      padding: $s-16;
      background: #fff;
      box-sizing: border-box;
      @include overflowScrollBar()
    }
  }
}
ul {
  margin: 0px;
  padding-left: $s-32;
  padding-right: $s-32;
  overflow: auto;
  max-height: 80vh;
  li {
    list-style-type: none;
    font-style: normal;
    font-weight: $fw-light;
    font-size: $fs-lead;
    margin-bottom: $s-8;
    &.nav-header {
    margin-top: $s-16;
    color: $text-low;
    font-weight: $fw-medium;
    font-size: $fs-caption;
    line-height: 15px;
    text-transform: uppercase;
    // &.discover-icon {
    //   background-image: url("../../../assets/images/discover-icon.svg");
    // }
    // &.store-icon {
    //   background-image: url("../../../assets/images/store-icon.svg");
    // }
    // &.account-icon {
    //   background-image: url("../../../assets/images/account-icon.svg");
    // }
    // &.artist-icon {
    //   background-image: url("../../../assets/images/artist-icon.svg");
    // }
    }

    a,
    span {
      text-decoration: none;
      color: $text-hi;
      font-weight: $fw-light;
      cursor: pointer;
      &.current {
        text-decoration: underline;
      }
    }
  }
}
