#main-side-nav {
  padding-top: 133px;
  position: fixed;
  top: 108px;
  left: 56px;
  z-index: 99;
  @media screen and (max-width: 600px) {
    display: none;
    &.mobile-open {
      display: initial;
      position: fixed;
      top: 0px;
      left: 0px;
      background: #0f161d;
      width: 100%;
      height: 100%;
      z-index: 8;
    }
  }
  ul {
    margin: 0px;
    padding-left: 27px;
    li {
      list-style-type: none;
      font-style: normal;
      font-weight: 300;
      font-size: 20px;
      color: rgba(255, 255, 255, 0.2);
      margin-bottom: 8px;
      &.nav-header {
        margin-top: 20px;
      }

      &:last-child {
        margin-bottom: 0px;
      }
      a,
      span,
      .clickable-link {
        text-decoration: none;
        color: #fff;
        font-weight: normal;
        cursor: pointer;
        &.current {
          text-decoration: underline;
        }
      }
    }
  }
}