@mixin overflowScrollBar {
  &::-webkit-scrollbar {
    width: 6px;
	  background-color: #f5f5f5;
  }
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	  background-color: white;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }
}
#main-side-nav {
  padding-top: 133px;
  position: fixed;
  top: 108px;
  left: 56px;
  z-index: 99;
  @media screen and (max-width: 600px) {
    display: none;
    padding-top: 105px;
    &.mobile-open {
      display: initial;
      position: fixed;
      top: 0px;
      left: 0px;
      background: #0f161d;    
      padding-bottom: 50px;
      width: 100%;
      height: 100%;
      z-index: 9;
    }
  }
  .mobileSearchWrapper {
    @media screen and (min-width: 700px) {
      display: none;
    }
    position: relative;
    .mobileSearch {
      position: relative;
      margin-left: auto;
      margin-right: auto;
      width: 86%;
      margin-bottom: 30px;
      img {
        position: absolute;
        left: 21px;
        top: 11px;
        width: 18px;
      }
      input {
        border: 2px solid #e3e3e3;
        background: transparent;
        border-radius: 30px;
        padding: 10px 20px 9px 60px;
        width: 100%;
        box-sizing: border-box;
        font-size: 16px;
        color: #fff;
      }
    }
    .mobileScrollSearchResult {
      top: 47px;
      max-height: 400px;
      overflow: auto;
      margin-left: 20px;
      width: 370px;
      position: absolute;
      z-index: 1;
      border-radius: 10px;
      padding: 20px;
      background: #fff;
      box-sizing: border-box;
      @include overflowScrollBar()
    }
  }
}
ul {
  margin: 0px;
  padding-left: 27px;
  padding-right: 27px;
  overflow: auto;
  max-height: 56vh;
  li {
    list-style-type: none;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.2);
    margin-bottom: 8px;
    &.nav-header {
      margin-top: 20px;
    }

    a,
    span {
      text-decoration: none;
      color: #fff;
      font-weight: normal;
      cursor: pointer;
      &.current {
        text-decoration: underline;
      }
    }
  }
}