@mixin overflowScrollBar {
  &::-webkit-scrollbar {
    width: 6px;
	  background-color: #f5f5f5;
  }
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	  background-color: white;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }
}
#main-side-nav {
  transition: all .25s;
  position: fixed;
  top: 145px;
  left: 56px;
  z-index: 99;
  @media screen and (max-width: 800px) {
   left: 7px;
  }
  @media screen and (max-width: 650px) {
    display: none;
    padding-top: 80px;
    &.mobile-open {
      display: initial;
      position: fixed;
      top: 0px;
      left: 0px;
      background: #0f161d;
      padding-bottom: 50px;
      width: 100%;
      height: 100%;
      z-index: 12;
    }
  }
  .mobileSearchWrapper {
    @media screen and (min-width: 700px) {
      display: none;
    }
    position: relative;
    .mobileSearch {
      position: relative;
      margin-left: 20px;
      margin-right: 20px;
      width: -webkit-fill-available;
      margin-bottom: 25px;
      img {
        position: absolute;
        left: 20px;
        top: 8px;
        width: 24px;
        height: 24px;
      }
      input {
        border: 1.5px solid #e3e3e3;
        background: transparent;
        border-radius: 30px;
        padding: 10px 20px 10px 56px;
        width: 100%;
        box-sizing: border-box;
        height: 40px;
        color: #FFFFFF;
        font-family: 'Space Grotesk';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        caret-color: #FA7C05;
      }
      input::placeholder {
        font-weight: 300;
        color: rgb(255 255 255 / 40%);
      }
    }
    .mobileScrollSearchResult {
      top: 47px;
      max-height: 274px;
      overflow: auto;
      margin-left: 20px;
      margin-right: 20px;
      width: -webkit-fill-available;
      position: absolute;
      z-index: 1;
      border-radius: 10px;
      padding: 20px;
      background: #fff;
      box-sizing: border-box;
      @include overflowScrollBar()
    }
  }
}
ul {
  margin: 0px;
  padding-left: 27px;
  padding-right: 27px;
  overflow: auto;
  max-height: 80vh;
  li {
    list-style-type: none;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 8px;
    &.nav-header {
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.3);
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    // &.discover-icon {
    //   background-image: url("../../../assets/images/discover-icon.svg");
    // }
    // &.store-icon {
    //   background-image: url("../../../assets/images/store-icon.svg");
    // }
    // &.account-icon {
    //   background-image: url("../../../assets/images/account-icon.svg");
    // }
    // &.artist-icon {
    //   background-image: url("../../../assets/images/artist-icon.svg");
    // }
    }

    a,
    span {
      text-decoration: none;
      color: #fff;
      font-weight: 300;
      cursor: pointer;
      &.current {
        text-decoration: underline;
      }
    }
  }
}
