#sandbox {
  display: flex;
  padding-top: 100px;
  justify-content: center;
  button {
    background: #fff;
    color: #000;
    padding: 10px 20px;
    border: 0px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 20px;
  }
}