#sandbox {
  display: flex;
  padding-top: 100px;
  justify-content: center;
  padding-bottom: 3600px;
  overflow-y: hidden !important;
  .button-col {
    display: flex;
    flex-direction: column;
    button {
      margin-bottom: 20px;
    }
  }
  button {
    background: #fff;
    color: #000;
    padding: 10px 20px;
    border: 0px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 20px;
  }
}

ol {
  color: white;
}

.custom-list {
  color: white;
  display: flex;
}
