@import "../../assets/SCSS/Vars.scss";
#sandbox {
  display: flex;
  padding-top: $s-96;
  justify-content: center;
  padding-bottom: 3600px;
  overflow-y: hidden !important;
  .button-col {
    display: flex;
    flex-direction: column;
    button {
      margin-bottom: $s-24;
    }
  }
  button {
    background: #fff;
    color: $neutral-800;
    padding: $s-8 $s-16;
    border: 0;
    font-size: $fs-lead;
    font-weight: $fw-bold;
    cursor: pointer;
    margin-bottom: $s-24;
  }
}

ol {
  color: $text-hi;
}

.custom-list {
  color: $text-hi;
  display: flex;
}
