#albums-content {
    display: flex;
    font-family: Space Grotesk;
    font-style: normal;
    font-weight: normal;
    .left-wrapper {
        background: linear-gradient(123.48deg, #F18180 0%, #EC5051 52.12%);
        padding: 5px 10px;
    }
    .bg-album-img{
        background: url('../../../assets/images/album_case.png');
        min-height: 50%;
        max-height: auto;
        width: 50%;
    }
    .album-top {
        display: flex;
        .album-img {
            width: 120px;
            height: 120px;
        }
        .album-right{
            padding-left: 20px;
            .title {
                font-size: 24px;
                line-height: 31px;
                color: #FFFFFF;
                margin-bottom: 4px;
                margin-top: 8px;
            }
            .artist-title {
                font-size: 16px;
                line-height: 20px;
                color: #FFFFFF;
                opacity: 0.8;
                margin-bottom: 12px;
            }
            .view-detail{
                font-size: 16px;
                line-height: 20px;
                text-decoration-line: underline;
                color: #000000;
                margin-bottom: 8px;
            }
        }
    }
    .album-bottom{
        padding-top: 32px;
    }
    .inner-content-album {
        display: flex;
    }
}