@import "../../../assets/SCSS/Vars.scss";
#albums-content {
	display: flex;
	font-family: $space;
	font-style: normal;
	font-weight: normal;
	// height: 388px;
	// ::after{
	// 	content: "";
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// 	width: 100%;
	// 	height: 100%;
	// 	background-image: url("../../../assets/images/paper-texture.png");
	// 	// background-size: 100% 100%;
	// 	background-repeat: repeat;
	// 	z-index: 3;
	// 	opacity: .01;
	// }
	.left-wrapper {
		position: relative;
		border-radius: 2px;
		padding: 15px 0px 0px 15px;
    width: 342px;
		height: 335px;
		margin: 10px;
		overflow: hidden;
		box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5), inset 0px 0px 16px 2px rgba(0, 0, 0, 0.1),
		inset 0px 0px 0px 1px rgba(255, 255, 255, 0.3);
		.active-playlist {
			text-align: center;
			.active-playlist-btn {
				cursor: pointer;
				min-width: auto !important;
				border: 1.5px solid #ffffff;
			}
		}
		.btn-margin {
			margin-bottom: 20px;
		}
// 		::after {
//     content: "";
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background-image: url("../../../assets/images/noise.svg");
//     z-index: 3;
//     background-size: 100% 100%;
// }
	}
	// below is a cd image that displays when the album is open
	// .bg-album-img {
	// 	background: url("../../../assets/images/cd-img.svg");
	// 	background-size: cover;
	// 	background-repeat: round;
	// 	width: 410px;
	// 	height: 410px;
	// 	margin-left: 76px;
	// 	margin-top: 7px;
	// }
	.cd-case {
		background: url("../../../assets/images/case-transparent.png");
		width: 50%;
		height: 393px;
		position: relative;
		background-size: cover;
		padding: 3px 5px 5px 20px;
		box-sizing: border-box;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
		img {
			width: 92%;
		}
	}

	.album-top {
		display: flex;
		grid-column-gap: 20px;
		grid-row-gap: 5px;
		.album-img {
			width: 130px;
			height: 130px;
			@media screen and (max-width: 600px) {
				width: 165px;
				height: 165px;
			}
			overflow: hidden;
			img{
				width: 100%;
			}
		}
		.trash {
			text-align: right;
			font-size: 20px;
			margin: 10px 30px 0px 0px;
			cursor: pointer;
		}
		.album-right {
			// padding-left: 20px;
			@media screen and (max-width: 600px) {
				padding-left: 0px;
			}
			.title {
				font-size: 20px;
				line-height: 31px;
				color: black !important;
				margin-bottom: 4px;
				margin-top: 8px;
			}
			.artist-title {
				font-size: 16px;
				line-height: 20px;
				color: black !important;
				opacity: 0.8;
				margin-bottom: 12px;
			}
			.view-detail {
				font-size: 16px;
				line-height: 20px;
				text-decoration-line: underline;
				color: #000000;
				margin-bottom: 8px;
				cursor: pointer;
			}
		}
	}
	.viewdetails-top {
		display: flex;
		.back-img {
			height: 24px;
			width: 24px;
			position: absolute;
			left: 15px;
			top: 18px;
			cursor: pointer;
		}
		.details-banner {
			font-family: $space;
			font-style: normal;
			font-weight: normal;
			font-size: 24px;
			line-height: 31px;
			color: black;
			margin-left: auto;
			margin-right: auto;
		}
	}
	.details-content {
		height: 250px;
		overflow-y: auto;
		overflow-x: hidden;
		.sub-content {
			font-family: $space;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 20px;
			color: black;
		}
	}
	.memory-card {
		clip-path: polygon(35% 0, 48% 16%, 100% 16%, 100% 100%, 0 100%, 0 0);
		background: #303030;
		width: 115px;
		height: 84px;
		border-radius: 6px;
		position: absolute;
		bottom: 0px;
		right: 0px;
		.mint-text {
			font-family: $space;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 18px;
			letter-spacing: 0.05em;
			color: #ffffff;
			margin-left: 7px;
			padding-top: 5px;
		}
		.mint-number {
			font-family: $space;
			font-style: normal;
			font-weight: normal;
			font-size: 37px;
			line-height: 54px;
			letter-spacing: 0.05em;
			color: #ffffff;
			margin-left: 27px;
			text-shadow: 4.08216e-16px 6.66667px 13.3333px rgba(51, 51, 51, 0.492);
		}
	}
	.album-bottom {
		// padding-top: 32px;
		overflow-y: scroll;
		// height: 200px;
		.playlist-header {
			opacity: 0.5;
			font-size: 12px;
			font-weight: 400;
			display: grid;
			// grid-template-columns: 1fr 1.2fr;
			margin-bottom: 10px;
			&.playlist {
				grid-template-columns: 0.3fr 0.7fr 1fr 0.8fr !important;
			}
			&.can-sell {
				grid-template-columns: 0.3fr 0.7fr 1fr 0.8fr !important;
			}
		}
		@media screen and (max-width: 600px) {
			height: 180px;
			margin-top: 20px;
		}
		padding-right: 15px;
		margin-top: 32px;
		.pointer {
			cursor: pointer;
		}
		table {
			padding-bottom: 5px;
		}
	}
	.inner-content-album-modal {
		display: flex;
		justify-content: space-between;
		.modal-album-title {
			display: grid;
			grid-template-columns: 0.3fr 0.7fr 1fr 0.5fr;
		}
		.fn-white {
			color: black;
		}
		&.playlist {
			grid-template-columns: 0.3fr 2.7fr 0.5fr;
		}
		&.can-sell {
			grid-template-columns: 0.2fr 0.8fr 0.4fr 1fr !important;
		}
	}
}

#general-modal .holder .sub-content {
	text-align: left;
	margin-left: 7px;
}

// #modalScrolling::-webkit-scrollbar-track {
// 	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
// 	background-color: #f5f5f5;
// }
//
// #modalScrolling::-webkit-scrollbar {
// 	width: 6px;
// 	background-color: #f5f5f5;
// }
//
// #modalScrolling::-webkit-scrollbar-thumb {
// 	background-color: #000000;
// }

.td1{
	display: flex;
	gap: 8px;
	min-height: 23px;
}

.table-header{
	opacity: 0.5;
	font-size: 12px;
	font-weight: 300;
	text-align: left;
	letter-spacing: 0.05em;
}

.bottomButtonSection{
	position: absolute !important;
	bottom: -60px !important;
}
.black_button{
	border: 2px solid #e3e3e3 !important;
	background: #000000 !important;
	color: #e3e3e3 !important;
}
