@import "../../assets/SCSS/Vars.scss";
.firstMonth {
  font-size: $fs-body;
  color: $text-low;
  padding: 0px $s-16 $s-4 $s-16;
}

.monthText {
  font-size: $fs-body;
  color: $text-low;
  // padding: 30px 20px 5px 20px;
  @media screen and (max-width: 600px) {
    // padding: 0px 20px 5px 20px;
  }
  text-transform: uppercase;
}

.trans-detail {
  @media screen and (max-width: 650px){
      padding-right: $s-16;
      padding-left: $s-16;
  }

}
