@import "../../../assets/SCSS/Vars.scss";

#profile-header {
  .shelves-content {
    position: relative;
    z-index: 10;
  }
  .container {
    margin-top: -140px;
    position: relative;
    z-index: 8;
    @media screen and (max-width: 650px) {
      margin-top: 0px;
      padding: 0 20px;
    }
    @media screen and (max-width: 1280px) {
      margin-top: -110px;
    }
    @media screen and (max-width: 950px) {
      margin-top: -65px;
    }
  }
  .profile-cover {
    margin-left: -220px;
    height: 340px;
    width: 100vw;
    @media screen and (max-width: 1280px) {
      height: 400px;
      width: 100vw;
    }
    @media screen and (max-width: 650px) {
      height: 440px;
      width: 100vw;
      margin-left: 0px;
      margin-right: 0px;
    }
    max-width: unset;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &:after {
    content: "";
    @media screen and (max-width: 650px) {
         height: 220px;
       }
       width: 700px;
       background: rgb(15, 22, 29);
      background: linear-gradient(
         90deg,
        rgba(15, 22, 29, 1) 19%,
        rgba(15, 22, 29, 0) 100%
     );
      position: absolute;
      top: 0px;
     left: 0px;
     }
     &:after {
     content: "";
     height: 340px;
     @media screen and (max-width: 1280px) {
          height: 400px;
        }
        @media screen and (max-width: 650px) {
          height: 440px;
        }
        width: 700px;
        background: rgb(15, 22, 29);
       background: linear-gradient(
          90deg,
         rgba(15, 22, 29, 1) 19%,
         rgba(15, 22, 29, 0) 100%
      );
       position: absolute;
       top: 0px;
      left: 0px;
      }

    &.default {
      background-size: contain;
      background-position: right;
      background-color: #5a6c7a;
    }
  }
  .profile-head-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .profile-wrap {
      display: flex;
      @media screen and (max-width: 950px) {
            display: block;
      }
      flex-wrap: wrap;
      gap: 50px;
      @media screen and (max-width: 1280px) {
        gap: 30px;
      }
      @media screen and (max-width: 650px) {
        gap: 15px;
        justify-content: space-between;
      }
    }
    .profile-image {
      width: 180px;
      height: 180px;
      @media screen and (max-width: 1280px) {
        width: 140px;
        height: 140px;
      }
      @media screen and (max-width: 950px) {
        width: 120px;
        height: 120px;
      }
      @media screen and (max-width: 650px) {
        width: 100px;
        height: 100px;
      }
      border-radius: 50%;
      overflow: hidden;
      border: solid 3px #fff;
      .profilePic {
        width: 180px;
        height: 180px;
        @media screen and (max-width: 1280px) {
          width: 140px;
          height: 140px;
        }
        @media screen and (max-width: 950px) {
          width: 120px;
          height: 120px;
        }
        @media screen and (max-width: 650px) {
          width: 100px;
          height: 100px;
        }
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      img {
        max-width: 100%;
        height: 100%;
      }
    }

    .details {
      font-family: $space;
      font-style: normal;
      font-size: 32px;
      font-weight: 300;
      margin-top: 55px;
      text-shadow: 0 1px #171717;
      @media screen and (max-width: 1280px) {
      margin-top: 30px;
      }
      @media screen and (max-width: 800px) {
      // transform: translateY(20px);
      }
      @media screen and (max-width: 650px) {
        margin-top: 50px;
        font-size: 30px;
        transform: none;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis !important;
        display: inherit;
      }
      color: #ffffff;
      display: flex;
      flex-direction: column;
      align-items: self-start;
      .no_of_songs {
        font-size: 20px;
        text-align: left;
        &:first-child {
          margin-right: 20px;
        }
        @media screen and (max-width: 650px) {
          font-size: 17px;
        }
      }
      h3 {
        margin-bottom: 0px;
        font-size: 32px;
        color: #fff;
      }

      p {
        margin-top: 0px;
        font-size: 20px;
        color: #fff;
      }
    }
  }
  .btn-wrap {
    gap: 30px;
    cursor: pointer;
    align-self: flex-end;
    position: absolute;
    top: -25px;
    right: 0px;
    z-index: 11;
    @media screen and (max-width: 1280px) {
      margin-bottom: 15px;
    }
    @media screen and (max-width: 1020px) {
      margin-bottom: 0px;
    }
    @media screen and (max-width: 950px) {
      align-self: unset;
    }
    @media screen and (max-width: 650px) {
      right: 20px;
    }
    .react-share__ShareButton{
      min-height: inherit;
      span {
        display: block;
      }
    }
    button {
      background: #ffffff;
      color: black;
      cursor: pointer;
      display: flex;
      align-items: center;
      font-weight: bold;
      font-size: 16px;
      border-radius: 50px;
      border: 0px;
      font-family: $lato;
      padding: 15px 30px;
      line-height: 19px;
      min-width: 140px;
      min-height: 49px;
      margin: 0;
      @media screen and (max-width: 400px) {
            min-width: unset;
      }
      @media screen and (max-width: 650px) {
        width: 100%;
      }
      &:last-child {
        // margin-right: 0px;
        margin: 0;
      }
      img {
        margin-right: 12px;
      }
    }
  }

  .details {
    @media screen and (max-width: 650px) {
      &.mobile {
        margin-left: 20px;
        display: flex;
        font-family: $space;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 41px;
        flex-direction: column;
        color: #ffffff;
        .no_of_songs {
          font-size: 18px;
        }
      }
    }
  }
}

.shelves {
  position: absolute;
  bottom: 60px;
  z-index: 5;
  right: 0px;
  transition: transform 0.1s ease-out 0s;
  will-change: transform;
  @media screen and (max-width: 1280px) {
    bottom: 100px;
  }
  @media screen and (max-width: 800px) {
    right: 31px;
  }
  @media screen and (max-width: 650px) {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  width: 400px;
  @media screen and (max-width: 450px) {
    transform: scale(0.80);
  }
  .single-shelf {
    &:first-child {
      // margin-bottom: 50px;
    }
    .albums-on-shelf {
      display: flex;
      align-items: flex-end;
      transform: translateY(11px);
      justify-content: space-between;
      padding-right: 30px;
      padding-left: 30px;
      box-sizing: border-box;
      .single-album-on-shelf {
        width: 93px;
        height: 93px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        i {
          color: #fff;
          font-size: 34px;
          position: relative;
          line-height: 25px;
          cursor: pointer;
          text-shadow: 0 1px #171717;
        }
        .single-shelf-album {
          overflow: hidden;
          width: 93px;
          height: 93px;
          display: flex;
          position: relative;
          .deleteShowcase{
            position: absolute;
            // top: 20px;
            right: 0px;
            display: none;
            i{
              font-size:20px;
              color: #fff;
              background-color: rgba(0, 0, 0, 0.65);
              padding: 5px;
              z-index: 1;
              border-radius: 0px 2px 0px 0px;
              margin-top: 1.5px;
            }
          }
          &:hover{
            .deleteShowcase{
              display: block;
            }
          }
          img{
            border-radius: 2px;
            transform: rotateX(15deg);
            transform-style: preserve-3d;
          }
        }
      }
    }
  }
}

.shelvesMobile {
    width: 100%;
    max-width: 400px;
    display: none;
    position: absolute;
    top: 170px;
    z-index: 2;
    right: 37px;
    @media screen and (max-width: 800px) {
      width: 100%;
      max-width: 400px;
      display: none;
      position: absolute;
      top: 80px;
      z-index: 2;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }
  @media screen and (max-width: 1280px) {
    display: block;
  }
  .single-shelf {
    &:first-child {
      margin-bottom: 50px;
    }
    .albums-on-shelf {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      padding-right: 30px;
      padding-left: 30px;
      box-sizing: border-box;
      .single-album-on-shelf {
        width: 93px;
        text-align: center;
        i {
          color: #fff;
          font-size: 34px;
          position: relative;
          bottom: 20px;
          line-height: 25px;
          cursor: pointer;
        }

        .single-shelf-album {
          overflow: hidden;
          width: 93px;
          height: 93px;
          display: flex;
          position: relative;
          bottom: -9px;
          .deleteShowcase{
            position: absolute;
            top: 21px;
            right: 2px;
            i{
              font-size:20px;
              color: #5a5c5e;
            }
          }
          img {
          }
        }
      }
    }
  }
}
