.user-avatar {
  .avatar {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin: 10px;
    overflow: hidden;
    @media screen and (max-width: 600px) {
      width: 100%;
      height: auto;
      box-sizing: border-box;
      margin: 0px;
      img {
        width: 100%;
      }
    }
  }
  .avatar-name {
    font-family: Space Grotesk;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #ffffff;
    align-items: center;
    display: flex;
    text-align: left;
  }
}
