@import '../../../assets/SCSS/Vars.scss';

#thank-you {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  p {
    width: 800px;
    color: #fff;
    font-size: 30px;
    line-height: 40px;
    font-weight: 300;
  }
  .join-btn{
    font-weight: 400;
  }
}
.join-buttons{
    display: inline-grid;
    column-gap: 15px;
    grid-template-columns: 1fr 1fr;
}

.btn.btn-white {
    border: 2px solid #fff;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    padding: 20px 40px;
    background-color: transparent;
}
