@import '../../../assets/SCSS/Vars.scss';

#thank-you {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  p {
    width: 800px;
    color: $text-hi;
    font-size: 30px;
    line-height: 40px;
    font-weight: $fw-light;
  }
  .join-btn{
    font-weight: $fw-regular;
  }
}
.join-buttons{
    display: inline-grid;
    column-gap: $s-16;
    grid-template-columns: 1fr 1fr;
}

.btn.btn-white {
    border: 2px solid $text-hi;
    color: white;
    text-decoration: none;
    font-size: $fs-lead;
    font-weight: $fw-regular;
    padding: $s-16 $s-48;
    background-color: transparent;
}
