@import "../../../assets/SCSS/Vars.scss";


.partner-section{
  position: relative;
    .partner-section-padding {
    padding-bottom: 80px;
}
.partner-logo-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    // -webkit-box-pack: justify;
    // -webkit-justify-content: space-between;
    // -ms-flex-pack: justify;
    // justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    @media screen and (max-width: 1565px){
      grid-column-gap: 40px;
      grid-row-gap: 40px;
    }
    @media screen and (max-width: 650px){
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
      @media screen and (max-width: 650px) {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    grid-auto-columns: 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 25px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
      }
    .logo{
    max-width: 100%;
    display: inline-block;
    img {
    max-height: 74px;
    max-width: 200px;
    @media screen and (max-width: 650px) {
    max-width: 160px;
    }
    @media screen and (max-width: 479px) {
    max-width: 130px;
    }
    border: 0;
    vertical-align: middle;
    display: inline-block;
}
    }
}
}

.section-header {
    margin-bottom: 40px;
    max-width: fit-content;
    @media screen and (max-width: 650px) {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
    h2 {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.22px;
    margin-top: 0px;
    margin-bottom: 0px;
    @media screen and (max-width: 650px) {
    font-size: 1.75rem;
}
    @media screen and (max-width: 479px) {
    font-size: 1.5rem;
}
}
}
.partner-container {
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    width: 100%;
    max-width: 75rem;
    margin-right: auto;
    margin-left: auto;
}
