@import '../../../assets/SCSS/Vars.scss';

#the-tech {
    width: 100%;
    box-sizing: border-box;
    h2 {
        font-family: $font-display;
        text-transform: uppercase;
        color: $text-hi;
    }

    .content {
        display: flex;
        align-items: flex-start;
        padding-top: $s-8;
        @media screen and (max-width: 950px) {
            flex-direction: column;
        }
        .left {
            flex: none;
            width: 500px;
            @media screen and (max-width: 950px) {
                width: 100%;
            }
            h3 {
              margin-top: 0px;
              margin-bottom: $s-8;
              color: $text-hi;
              font-size: 30px;
              line-height: 40px;
              font-weight: $fw-regular;
            }
        }

        .right {
            margin-left: auto;
            @media screen and (max-width: 950px) {
                width: 100%;
                padding-top: $s-16;
            }
            p {
              color: $text-hi;
              font-size: $fs-lead;
              font-weight: $fw-light;
              letter-spacing: 0.1px;
              line-height: 33px;
              margin-top: 0px;
              margin-bottom: 0px;
              .red-link {
                  text-decoration: none;
                  color: $brand;
              }
            }
        }
    }
}
