@import '../../../assets/SCSS/Vars.scss';

#the-tech {
    width: 100%;
    box-sizing: border-box;
    h2 {
        font-family: $oswald;
        text-transform: uppercase;
        color: #fff;
    }

    .content {
        display: flex;
        align-items: flex-start;
        padding-top: 10px;
        @media screen and (max-width: 950px) {
            flex-direction: column;
        }
        .left {
            flex: none;
            width: 500px;
            @media screen and (max-width: 950px) {
                width: 100%;
            }
            h3 {
              margin-top: 0px;
              margin-bottom: 10px;
              color: #fff;
              font-size: 30px;
              line-height: 40px;
              font-weight: 400;
            }
        }

        .right {
            margin-left: auto;
            @media screen and (max-width: 950px) {
                width: 100%;
                padding-top: 20px;
            }
            p {
              color: #fff;
              font-size: 20px;
              font-weight: 300;
              letter-spacing: 0.1px;
              line-height: 33px;
              margin-top: 0px;
              margin-bottom: 0px;
              .red-link {
                  text-decoration: none;
                  color: #e52b25;
              }
            }
        }
    }
}
