@import '../../../assets/SCSS/Vars.scss';

#the-tech {
    padding-left: 56px;
    padding-right: 56px;
    width: 100%;
    box-sizing: border-box;
    float: left;
    padding-bottom: 50px;
    h2 {
        font-family: $oswald;
        text-transform: uppercase;
        color: #fff;
    }

    .content {
        display: flex;
        align-items: flex-start;
        @media screen and (max-width: 792px) {
            flex-direction: column;
        }
        .left {
            flex: none;
            width: 400px;
            @media screen and (max-width: 792px) {
                width: 100%;
            }
            h3 {
                margin-top: 0px;
                margin-bottom: 10px;
                color: #fff;
            }
        }

        .right {
            margin-left: auto;
            width: 50%;
            @media screen and (max-width: 792px) {
                width: 100%;
                padding-top: 20px;
            }
            p {
                color: #fff;
                margin: 0px;
            }
        }
    }
}
