.artists-holder {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 45px;
  @media screen and (max-width: 1850px) {
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 45px;
  }
  @media screen and (max-width: 1250px) {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 45px;
  }
  @media screen and (max-width: 950px) {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 0;
  }
  @media screen and (max-width: 290px) {
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 0;
  }
  grid-row-gap: 53px;
  .profile-album,
  .user-avatar {
    cursor: pointer;
    // margin-left: 25px;
    display: block;
    text-align: center;
    .avatar {
      border: solid 3px rgba(255, 255, 255, 0.2);
      // margin-left: 0;
      img {
        width: 100%;
      }
    }
    .avatar-name {
      display: block;
      margin: auto;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      width: 180px;
      // margin-left: 20px;
    }
  }
}
