@import "../../assets/SCSS/Vars.scss";



.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  p {
    margin: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 50px;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    background: white;
    color: black;
    padding: 0 18px 0 7px;
    font-weight: bold;
    letter-spacing: 1px;
    width: 105px;
    svg {
      // height: 22px;
      // margin-right: 5px;
    }
    img {
      height: 36px;
      padding-right: 2px;
    }
  }
}
