@import "../../assets/SCSS/Vars.scss";



.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  p {
    margin: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    border-radius: $radius-full;
    font-size: $fs-lead;
    cursor: pointer;
    text-decoration: none;
    background: white;
    color: $neutral-800;
    padding: 0 $s-16 0 $s-8;
    font-weight: $fw-bold;
    letter-spacing: 1px;
    width: 105px;
    svg {
      // height: 22px;
      // margin-right: 5px;
    }
    img {
      height: 36px;
      padding-right: 2px;
    }
  }
}
