#amplify-player {
  position: fixed;
  right: 0px;
  top: 0px;
  height: 100%;
  background: #000;
  z-index: 99;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: 1200%;
  background-position: center;
  overflow: hidden;
  padding: 30px 0 0 0;
  @media screen and (max-width: 650px) {
  padding: 16px 0 0 0;
  }
  .background-blur {
    position: absolute;
    top: 0px;
    left: -6px;
    height: 120%;
    width: 110%;
    filter: blur(11px);
    background-repeat: no-repeat;
    background-size: 2000px;
    background-position: center;
    z-index: 9;
    opacity: 0.7;
    max-width: unset;
  }

  .over {
    position: relative;
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    overflow: hidden;
    .top-icons {
      display: flex;
      align-items: center;
      width: -webkit-fill-available;
      justify-content: flex-end;
      margin-right: 37px;
      @media screen and (max-width: 650px) {
        margin-right: 20px;
      }
      .bell {
        margin-right: 24px;
        cursor: pointer;
      }
      .cd {
        margin-right: 24px;
        height: 24px;
        width: 24px;
        cursor: pointer;
      }
      .wallet {
        margin-right: 30px;
        width: 24px;
        height: 24px;
        cursor: pointer;
      }
    }
  }
  .album-info {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    .cover {
      overflow: hidden;
      img {
        transform: rotate(-90deg);
        width: 30vh;
        height: 30vh;
        max-height: 310px;
        max-width: 310px;
      }
    }

    .details {
      width: 100%;
      height: 200px;
      max-width: unset !important;
      .rotate {
        max-width: unset;
        width: 200px;
        transform: rotate(-90deg);
        transform-origin: 100px 90px;
      }
    }
    .album-title {
      font-size: 18px;
      line-height: 23px;
      color: #ffffff;
      margin: 0px;
      font-family: 'Space Grotesk';
      font-style: normal;
      font-weight: 300;
    }

    .song-name {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      color: #ffffff;
      opacity: 0.8;
      margin: 0px;
    }

    &.large {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      .cover {
        width: 100%;
        height: auto;
      }
    }
  }

  .controls {
    .button {
      cursor: pointer;
      width: 34px;
      height: 34px;
      display: flex;
      align-items: center;
      justify-content: center;
      &.play-pause {
        background: #fa7c05;
        transition: ease all 0.5s;
        border-radius: 100px;
        &:hover {
          background: #b95a00;
        }

        svg {
          fill: #fff;
          &.play {
            width: 14px;
            margin-left: 3px;
            margin-top: 1px;
          }
          &.pause {
            width: 12px;
          }
        }
      }
      img{
        width: 14px;
      }
    }
  }

  .player-pull-out-button {
    flex: none;
    width: 24px;
    height: 24px;
    background: rgba(95, 73, 85, 0.3);
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 39px;
    cursor: pointer;
  }

  .progress-bar {
    margin-top: 20px;
    .bar {
      background: #fff;
      border-radius: 0px;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      @media screen and (max-height: 1113px) {
        height: 350px;
      }

      @media screen and (max-height: 1034px) {
        height: 275px;
      }

      @media screen and (max-height: 1034px) {
        height: 200px;
      }
      .completed {
        width: 100%;
        height: 0%;
        border-radius: 6px;
        background: #FA7C05;
        margin-top: auto;
      }
    }
  }

  &.full {
    width: 380px;
    @media screen and (max-width: 440px) {
      width: 100%;
    }
    .player-pull-out-button {
      display: none;
    }

    .over {
      justify-content: flex-start;
    }

    .album-info {
      margin-top: 30px;
      @media (max-height: 768px) {
        margin-top: 20px;
      }
      .cover {
        margin-bottom: 20px;
        @media (max-height: 768px) {
          margin-bottom: 15px;
        }
        img {
          transform: rotate(0deg);
          // filter: drop-shadow(0px 14px 24px rgba(0, 0, 0, 0.25));
          border-radius: 4px;
        }
      }

      .details {
        height: auto;
        .rotate {
          width: 100%;
          transform: rotate(0deg);
          transform-origin: 0px;
        }
      }
    }

    .progress-bar {
      width: 100%;
      margin-bottom: 20px;
      @media (max-height: 768px) {
        margin-bottom: 15px;
      }
      .bar {
        width: 310px;
        height: 6px;
        border-radius: 6px;
        margin-left: auto;
        margin-right: auto;
      }
    }

    .controls {
      display: flex;
      flex-direction: row-reverse;
      gap: 10px;
    }

    .mini-player-btn {
      text-decoration: underline;
      cursor: pointer;
      color: #fff;
    }
    .queue {
      width: 100%;
      font-family: Space Grotesk;
      font-style: normal;
      font-weight: normal;
      color: #ffffff;
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      height: -webkit-fill-available;
      .count {
        opacity: 0.8;
        font-size: 14px;
        line-height: 18px;
        font-weight: 300;
        text-align: center;
      }
      h4 {
        font-size: 14px;
        line-height: 18px;
        text-transform: uppercase;
        opacity: 0.5;
        font-weight: 300;
        margin: 10px 0px 15px 30px;
      }
      .queue-items {
        padding-left: 30px;
        padding-right: 30px;
        height: -webkit-fill-available;
        overflow-y: auto;
        overflow-x: hidden;
        position: absolute;
        .queue-item:first-child {
          margin-top: 0px;
        }
        .queue-item:last-child {
          margin-bottom: 15px;
        }
        .queue-item {
          margin-top: 15px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          img {
            height: 40px;
            width: 40px;
            border-radius: 2px;
          }
          .title {
            display: flex;
            flex-direction: column;
            margin-left: 20px;
            min-width: 242px;
            .song-title {
              font-size: 18px;
              font-weight: 300;
              line-height: 23px;
            }
            .album-title {
              font-size: 14px;
              line-height: 18px;
              font-weight: 300;
            }
          }
          .close {
            height: 24px;
            width: 24px;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.endless-rotate {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
