@import '../../../assets/SCSS/Vars.scss';

#the-team {
    h2 {
        font-family: $oswald;
        text-transform: uppercase;
        color: #fff;
        margin-bottom: 30px;
    }
    .team-list a {
      text-decoration: none;
      cursor: default;
    }
    .team-list {
        display: grid;
        // grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        grid-template-rows: max-content max-content;
        gap: 20px 20px;
        .team-member {
            padding: 25px 20px 20px;
            background-color: #434343;
            display: flex;
            flex: none;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: fit-content;
            border-radius: 8px;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            &:nth-child(7n) {
                margin-right: 0px;
            }
            .image {
                width: 130px;
                height: 130px;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    height: 100%;
                    max-width: none;
                }
            }

            p {
                color: #fff;
                margin-bottom: 0px;
                margin-top: 20px;
                &.support-card-count {
                    color: $red;
                    margin-top: 10px;
                }
            }
        }
    }
}
