@import "../../../assets/SCSS/Vars.scss";

#support-artists {
  width: 100%;
  box-sizing: border-box;
  float: left;
  overflow: hidden;
  padding-bottom: 100px;
  @media screen and (max-width: 682px) {
    padding-top: 20px;
  }
  h2 {
    &.large {
      font-size: 155px;
      line-height: 170px;
      @media screen and (max-width: 1565px){
      font-size: 110px;
      line-height: 120px;
      }
      @media screen and (max-width: 1010px){
        font-size: 72px;
        line-height: 82px;
      }
      @media screen and (max-width: 754px){
        font-size: 44px;
        line-height: 50px;
    }
    }
    position: relative;
    z-index: 9;
  }

  .albums {
    display: flex;
    margin-top: -75px;
    position: relative;
    z-index: 8;
    @media screen and (max-width: 1565px){
    margin-top: -50px;
    }
    @media screen and (max-width: 1010px){
      margin-top: -35px;
    }
    @media screen and (max-width: 754px){
      margin-top: 30px;
  }
    @media screen and (max-width: 682px) {
      margin-top: 50px;
      margin-left: 0px;
      margin-right: 0px;
    }
    .single {
      margin-right: 20px;
      &:last-child {
        margin-right: 0px;
      }
    }
  }
}

.support-padding-section{
    position: relative;
    padding-top: 3rem;
    padding-bottom: 7.5rem;
    .support-padding{
      width: -webkit-fill-available;
      padding-right: 48px;
      padding-left: 48px;
      @media screen and (max-width: 800px){
        padding-right: 0px;
        padding-left: 0px;
      }
    }
}
