@import "../../../assets/SCSS/Vars.scss";

@mixin overflowScrollBar {
  &::-webkit-scrollbar {
    width: 8;
    height: 8;
  }
  &::-webkit-scrollbar-track {
    background-color: 'rgba(232, 232, 232, .35)';
    border-radius: 4;
  }
  &::-webkit-scrollbar-thumb {
    outline: 0;
    background-color: '#D2E2EA';
    border-radius: 4;
  }
}
.nominate-modal-wrapper {
  width: 400px;
  font-family: $font-body;
  font-style: normal;
  font-weight: $fw-regular;
  letter-spacing: 0em;
  .nominate-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: $s-24;
    .nominate-heading {
      font-size: $fs-h5;
      line-height: 31px;
      text-align: left;
      color: $neutral-800;
    }
    .nominate-close-button {
      height: 26px;
      width: 26px;
      font-size: 28px;
      background: white;
      color: $neutral-300;
      cursor: pointer;
      margin-top: -$s-8;
    }
  }
  .nominate-subheading {
    font-size: $fs-lead;
    line-height: 26px;
    text-align: left;
    color: $neutral-800;
    width: 100%;
    margin-bottom: $s-24;
    font-weight: $fw-semibold;
  }
  .nominate-content {
    font-size: 18px;
    font-weight: $fw-light;
    line-height: 22px;
    text-align: left;
    color: $neutral-500;
    width: 100%;
    margin-bottom: $s-24;
  }
  .nominate-content-info {
    font-size: $fs-body;
    line-height: 20px;
    text-align: left;
    color: $neutral-500;
    width: 100%;
    margin-bottom: $s-48;
    font-weight: $fw-semibold;
  }
  .nominate-actions {
    margin-top: $s-48;
    width: 100%;
    .nominate-input-wrapper {
      position: relative;
      margin-bottom: $s-32;
      .nominate-input {
        height: 48px;
        width: 375px;
        @media screen and (max-width: 600px) {
          width: 313px;
        }
        border-radius: $radius-md;
        border: 1px solid $neutral-500;
        padding-left: $s-8;
        padding-right: $s-8;
        font-size: 17px;
        &::-webkit-input-placeholder {
          font-size: 18px;
          line-height: 3;
          color: rgba($neutral-500, 0.7);
        }
      }
      .nominate-search-result {
        padding: $s-16;
        width: 355px;
        overflow: auto;
        border-radius: $radius-md;
        border: 1px solid $neutral-500;
        max-height: 120px;
        position: absolute;
        top: 58px;
        z-index: 1;
        background: #fff;
        @include overflowScrollBar();
        .nominate-result-card {
          font-size: 18px;
          font-weight: $fw-medium;
          padding-bottom: $s-8;
          cursor: pointer;
        }
      }
    }
    .nominate-button {
      height: 48px;
      width: 100%;
      border-radius: $radius-full;
      background-color: $neutral-800;
      color: $text-hi;
      line-height: 31px;
      font-size: 18px;
    }
  }
}