.holder.sellSong-modal {
    width: 421px;
    overflow-y: scroll;
    @media screen and (max-width: 600px) {
        width: 310px;
        height: 500px;
    }
    .album-info {
        display: flex;
        align-items: center;
        @media screen and (max-width: 600px) {
            display: block;
        }
        .sellSongImg {
            width: 120px;
            height: 120px;
            @media screen and (max-width: 600px) {
                width: 165px;
                height: 165px;
            }
        }
        .sellSongRight {
            font-family: "Space Grotesk", sans-serif;
            font-style: normal;
            font-weight: normal;
            padding-left: 20px;
            @media screen and (max-width: 600px) {
                padding-left: 0px;
            }
            .title {
                font-size: 20px;
                line-height: 31px;
                color: black !important;
                margin-bottom: 4px;
                margin-top: 8px;
            }
            .artist-title {
                font-size: 16px;
                line-height: 20px;
                color: black !important;
                opacity: 0.8;
                margin-bottom: 12px;
            }
        }
    }
    .sellSongTittle {
        text-align: left;
        margin-top: 10px;
        font-size: 16px;
    }
    .sellForPrice {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media screen and (max-width: 600px) {
            display: block;
        }
        .currencyInput {
            padding: 15px;
            border-radius: 8px;
            margin-top: 10px;
            width: 254px;
            border-color: #e3e3e3;
            font-size: 16px;
        }
        .sellButton {
            font-size: 16px;
            padding: 10px 25px;
        }
    }
    #create-playlist {
        .purchase {
            display: flex;
            width: 100%;
            justify-content: space-between;
            margin-top: 10px;
            font-size: 16px;
            flex-direction: column;
            .song {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 10px;
            }
            .sellButton {
                width: 79px;
                font-size: 16px;
                padding: 10px 15px;
            }
        }
        .playlist-CD {
            width: 40%;
            @media screen and (max-width: 600px) {
                width: 90%;
            }
            display: flex;
            flex-direction: column;
            align-items: center;
            .case-box {
                margin-left: 30px;
            }
            .case-wrapper {
                background-repeat: no-repeat;
                background: url("../../../assets/images/case-transparent.png");
                background-size: cover;
                img {
                    width: 84%;
                    padding-left: 19px;
                    padding-top: 3px;
                }
            }
            ul {
                padding: 0;
                list-style: none;
                width: 80%;
                @media screen and (max-width: 600px) {
                    width: 90%;
                }
                margin-left: 10px;
                .remove {
                    padding: 2px;
                    font-size: 10px;
                    width: 50px;
                    float: right;
                }
                div {
                    padding: 6px 20px;
                    &:first-child {
                        background: rgba(196, 196, 196, 0.3);
                        border-radius: 3px;
                    }
                }
            }
        }
        .btn-wrap {
            text-align: center;
            cursor: pointer;
            button {
                padding: 10px 20px;
            }
            input {
                min-width: 155px;
                margin-top: 0px;
            }
        }
    }
}
