// .single-album1 {
//     position: relative;
//     font-family: "Space Grotesk";
//     width: 100%;
//     .album-own {
//         color: white;
//     }
//
//     .cd-case1 {
//         width: 100%;
//         position: relative;
//         // background-size: cover;
//         padding: 3px 5px 5px 0px;
//         box-sizing: border-box;
//         overflow: hidden;
//         display: inline-block;
//         align-items: center;
//         justify-content: center;
//         cursor: pointer;
//         border-radius: 3px;
//         background: rgba(0, 0, 0, 0);
//         box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.6), inset 0px 0px 20px 2px rgba(0, 0, 0, 0.4),
//             inset 0px 0px 5px 1px rgba(255, 255, 255, 0.6), inset 0px 0px 0px 1px rgba(255, 255, 255, 0.2);
//         .art-cover {
//             width: 100%;
//             height: 100%;
//             overflow: hidden;
//         }
//         .album-art {
//             top: 3%;
//             left: 14%;
//             width: 84%;
//             height: 95%;
//             border-radius: 3px;
//             background: rgba(0, 0, 0, 0);
//             box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5), inset 0px 0px 16px 2px rgba(0, 0, 0, 0.1),
//                 inset 0px 0px 0px 1px rgba(255, 255, 255, 0.3);
//             position: relative;
//             z-index: -2;
//             background-size: 100% 100% !important;
//         }
//         .sup {
//             height: 4.6%;
//             width: 14%;
//             background: rgba(255, 255, 255, 0.15);
//             box-shadow: inset 0px 0px 6px 1px rgba(0, 0, 0, 0.22), inset 0px 0px 1px 1px rgba(255, 255, 255, 0.17);
//         }
//         .pos-tl {
//             position: absolute;
//             top: 0;
//             left: 15%;
//             border-radius: 0 0 5px 5px;
//         }
//         .pos-tr {
//             position: absolute;
//             top: 0;
//             left: 70%;
//             border-radius: 0 0 5px 5px;
//         }
//         .pos-bl {
//             position: absolute;
//             bottom: 0;
//             left: 15%;
//             border-radius: 5px 5px 0 0;
//         }
//         .pos-br {
//             position: absolute;
//             bottom: 0;
//             left: 70%;
//             border-radius: 5px 5px 0 0;
//         }
//         .spine {
//             height: 50%;
//             width: 7%;
//             background: -webkit-linear-gradient(rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.07) 100%);
//             box-shadow: 3px 0px 5px 0px rgba(0, 0, 0, 0.23), inset 0px 0px 7px 0px rgba(0, 0, 0, 0.22),
//                 inset 0px 0px 0px 1px rgba(255, 255, 255, 0.22);
//             position: absolute;
//             top: 25%;
//             left: 0px;
//             border-radius: 0 50% 50% 0;
//             z-index: -1;
//         }
//         img {
//             width: 100%;
//         }
//         .mint-sticker {
//             &.available {
//                 background-image: url("../../../assets/images/mint-sticker.png");
//                 background-size: 100% 100%;
//                 background-position: center;
//                 background-repeat: no-repeat;
//                 span {
//                     @media screen and (max-width: 400px) {
//                         font-size: 8px;
//                     }
//                     font-size: 11px;
//                     text-transform: uppercase;
//                     font-weight: bold;
//                     text-align: center;
//                     font-family: Gotham;
//                 }
//             }
//             &.sold {
//                 background-image: url("../../../assets/images/sold-out.png");
//                 background-size: 100% 100%;
//                 background-position: center;
//                 background-repeat: no-repeat;
//                 span {
//                     display: none;
//                 }
//             }
//             height: 23%;
//             width: 23%;
//             position: absolute;
//             background-size: cover;
//             bottom: 5%;
//             right: 5%;
//             display: flex;
//             align-items: center;
//             justify-content: center;
//         }
//     }
//     h3 {
//         font-size: 18px;
//         color: #fff;
//         margin-bottom: 3px;
//         margin-top: 15px;
//         font-family: 'Space Grotesk';
//         font-style: normal;
//         font-weight: 300;
//     }
//
//     h4 {
//         font-family: 'Space Grotesk';
//         font-style: normal;
//         font-weight: 300;
//         line-height: 18px;
//     }
// }
// .modal-album {
//     position: absolute;
//     .modal {
//         .holder {
//             background-image: url("../../../assets/images/cdcase-new.png");
//             background-repeat: no-repeat;
//             background-size: contain;
//             padding: 10px 15px;
//             background-color: #1d1d1d;
//             border-radius: 0;
//             width: 876px;
//             @media screen and (max-width: 900px) {
//                 background-image: none !important;
//                 width: auto !important;
//                 padding: 10px !important;
//                 max-width: 100%;
//             }
//         }
//     }
// }
// .d-none {
//     display: none;
// }
// .d-block {
//     display: block;
// }
//
 .the-title {
    &.playlist-title {
         text-align: center;
         position: absolute;
         z-index: 2;
        bottom: 51px;
         width: 95%;
         @media screen and (max-width: 1400px) {
             padding-left: 23px;
             padding-right: 5px;
         }
         padding-left: 69px;
         padding-right: 24px;
         box-sizing: border-box;
         h3 {
             font-family: "Permanent Marker", cursive;
             width: 100%;
             display: inline-block;
             color: #000;
         }
     }
 }
