@import "../../../assets/SCSS/Vars.scss";
#addshowcase {  
    #info {
            font-size: 18px;
            color: #555;
            text-align: center;
            margin-bottom: 25px;
        }

        .scrollbar {
            max-height: 320px;
            overflow-y: scroll;
            width: 100%;
            background: #fff;
            overflow-y: scroll;
            margin-bottom: 25px;
            padding: 5px;
        }

        #style-4::-webkit-scrollbar-track
        {
            -webkit-box-shadow: inset 0 0 6px #C4C4C4;
            background-color: #F5F5F5;
            border-radius: 10px;
        }

        #style-4::-webkit-scrollbar
        {
            width: 10px;
            background-color: #F5F5F5;
        }

        #style-4::-webkit-scrollbar-thumb
        {
            background-color: #C4C4C4;
            border: 2px solid #C4C4C4;
            border-radius: 10px;
        }
    .row {
        display: flex;
        margin-bottom: 12px;
        align-items: center;
    }
    .row-wrap {
        width: 60%;
        padding: 8px 0 8px 20px;
        margin-left: 50px;
        .row-title {
            font-family: $space;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
        }
        .row-desc {
            opacity: 0.6;
        }
    }
    .add-btn {
        width: 79px;
        height: 36px;
        padding: 0;
    }
    .loading-skeleton{
        display: flex;
        flex-direction: column;
    }
    .cover{
        height: 60px;
        width : 60px;
    }
}