@import "../../../assets/SCSS/Vars.scss";
#addshowcase {
  #info {
    font-size: 18px;
    color: #555;
    text-align: center;
    margin-bottom: 25px;
  }

  .scrollbar {
    max-height: 320px;
    overflow-y: scroll;
    width: 100%;
    background: #fff;
    overflow-y: auto;
    margin-bottom: 25px;
    padding: 5px;
    .error {
      color: red;
    }
    .playlist-cover-holder {
      width: 60px;
      height: 60px;
      border-radius: 7px;
      overflow: hidden;
      img {
        position: relative;
        width: 100%;
        height: auto;
      }
    }
  }

  #style-4::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #c4c4c4;
    background-color: #f5f5f5;
    border-radius: 10px;
  }

  #style-4::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f5;
  }

  #style-4::-webkit-scrollbar-thumb {
    background-color: #c4c4c4;
    border: 2px solid #c4c4c4;
    border-radius: 10px;
  }
  .row {
    display: flex;
    margin-bottom: 12px;
    align-items: center;
    position: relative;
  }
  .row-wrap {
    width: 60%;
    padding: 8px 0 8px 20px;
    // margin-left: 50px;
    .row-title {
      font-family: $space;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
    }
    .row-desc {
      opacity: 0.6;
    }
  }
  .add-btn {
    cursor: pointer;
    width: 79px;
    height: 36px;
    padding: 0;
  }
  .loading-skeleton {
    display: flex;
    flex-direction: column;
  }
  .cover {
    height: 100%;
    width: auto;
  }
}
.no-songs {
  text-align: center;
}
