@import "./assets/SCSS/Vars.scss";
html{
  scroll-behavior: smooth;
}

body {
  font-family: 'Space Grotesk';
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  padding: 0px;
  margin: 0px;
  // background: #0f161d;
  background: linear-gradient(180deg, #0C0E16 0%, #2D404B 87.67%);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  box-sizing: border-box;
  padding-left: 53px;
  @media screen and (max-width: 800px) {
    padding-left: 0px;
  }
}

img {
   user-select: none;
   -moz-user-select: none;
   -webkit-user-drag: none;
   -webkit-user-select: none;
   -ms-user-select: none;
}

.hidden {
  display: none !important;
}

* {
  max-width: 100%;
}

button {
  cursor: pointer;
  font-family: 'Lato';
}

.display-none {
  display: none;
}

.containerOuter {
  width: 100%;
  max-width: 100%;
  // margin-left: auto;
  // margin-right: auto;
  box-sizing: border-box;
  // margin-top: 40px !important;
  // margin-top: 80px !important;
  margin-top: 65px;
  margin-bottom: 65px;
  // position: relative;
  // max-width: 75rem;
  @media screen and (max-width: 1660px) {
    // padding-left: 30px;
    // padding-right: 30px
  }

  @media screen and (max-width: 650px) {
    width: 100%;
    padding: 20px;
  }
  &.small {
    width: 1480px;
    @media screen and (max-width: 1660px) {
      width: 1650px;
    }
  }
}

.container {
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  @media screen and (max-width: 1660px) {
    // padding-left: 30px;
    // padding-right: 30px
    box-sizing: border-box;
  }

  @media screen and (max-width: 650px) {
    width: 100%;
    // padding: 20px;
  }
  &.small {
    width: 1480px;
    @media screen and (max-width: 1660px) {
      width: 1650px;
    }
  }
}

/* the slides */
.slick-slide {
  margin: 0 15px 0 15px;
}
/* the parent */
.slick-list {
  // margin: 0 -27px;
}

.line {
  width: 36px;
  height: 6px;
  background: $red;
  display: inline-block;
}

h2 {
  &.large {
    font-family: $oswald;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 200px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 1.8px;
    line-height: 210px;
    margin: 0px;
    @media screen and (max-width: 858px) {
      font-size: 20vw;
      line-height: 20vw;
    }
  }

  &.red,
  .red {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: $red;
    color: transparent;
    position: relative;
    z-index: 3;
    @media screen and (max-width: 754px){
    -webkit-text-stroke-width: 1.5px;
      }
      @media screen and (max-width: 479px){
        -webkit-text-stroke-width: 1px;
    }
  }
}

.center-text {
  text-align: center !important;
}

.circle {
  border-radius: 50%;
  overflow: hidden;
}

.btn {
  &.btn-red {
    border: 2px solid $red;
    color: white;
    text-decoration: none;
    font-size: 20px;
    color: $red;
    font-weight: 300;
    padding: 20px 40px;
    background-color: transparent;
  }

  &.btn-black {
    background: #000;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    font-weight: 650;
    padding: 10px 20px;
  }
}

input {
  &:focus {
    outline-width: 0;
  }

  &.error {
    border-color: #FF5353 !important;
    color: initial;
  }

  &[type="submit"] {
    cursor: pointer;
  }
}

span {
  &.error-message {
    color: #FF5353;
  }
}

textarea {
  &.error {
    border-color: #FF5353 !important;
    color: initial;
  }
}

.modal {
  font-family: $space;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  .cover {
    position: absolute;
    z-index: 998;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, .8);
  }

  .holder {
    background: #FFFFFF;
    border-radius: 12px;
    padding: 20px;
    position: relative;
    z-index: 999;
    width: 400px;
    // overflow: auto;
    max-height: 70vh;
    @media screen and (max-width: 650px) {
      width: 335px;
    }
  }
}

.left-nav-pad {
  padding-left: 220px;
  @media screen and (max-width: 650px) {
    padding-left: 0px;
  }
}

.right-player-pad {
  // padding-right: 150px;
  padding-right: 30px;
  @media screen and (max-width: 650px) {
    padding-right: 0px;
  }
}

.normal-right-pad {
  padding-right: 37px;
  @media screen and (max-width: 650px) {
    padding-right: 0px;
  }
}

.album-grid {
  display: grid;
  max-width: 2600px;
  // grid-template-columns: repeat(4, 1fr);
  grid-template-columns: repeat(7, 1fr);
  column-gap: 30px;
  row-gap: 30px;
  @media screen and (max-width: 650px) {
    margin-left: 0px !important;
  }
  @media screen and (max-width: 2400px) {
    grid-template-columns: repeat(7, 1fr);
  }
  @media screen and (max-width: 2080px) {
    grid-template-columns: repeat(6, 1fr);
  }
  @media screen and (max-width: 1760px) {
    grid-template-columns: repeat(5, 1fr);
  }
  @media screen and (max-width: 1440px) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media screen and (max-width: 1120px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media screen and (max-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media screen and (max-width: 960px) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
    row-gap: 20px;
  }
  @media screen and (max-width: 800px) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
    row-gap: 20px;
  }
  @media screen and (max-width: 480px) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
    row-gap: 20px;
  }
  @media screen and (max-width: 320px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.flex {
  display: flex;
}

.f-align-center {
  align-items: center;
}

.f-jc-space-between {
  justify-content: space-between;
}

.f-jc-center {
  justify-content: center;
}

.f-jc-space-around {
  justify-content: space-around;
}

.flex-wrap {
  flex-wrap: wrap;
}

.cursor-pointer {
  cursor: pointer;
}

.page-title {
  color: #fff;
  margin-bottom: 30px;
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 26px;
  @media screen and (max-width: 650px) {
    margin-top: 10px;
    font-size: 20px;
  }
}

.d-h-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.placeholder-text {
  margin-top: 30px;
  color: rgba(255, 255, 255, 0.3);
  padding: 20px 30px;
  font-weight: 300;
  font-size: 24px;
  background-color: rgb(196 196 196 / 5%);
  &.no-mt {
    margin-top: 0px;
  }
  .fa-music-slash{
    display: block;
    padding-bottom: 10px;
  }
  .fa-list-music{
    display: block;
    padding-bottom: 10px;
  }
  .fa-album{
    display: block;
    padding-bottom: 10px;
  }
  .fa-music{
    display: block;
    padding-bottom: 10px;
  }
}

// TODO: Should move this to some kind of component later
.user-block {
  display: flex;
  gap: 70px;
  overflow-x: auto;
  @media screen and (max-width: 800px) {
  gap: 30px;
  padding-left: 5px;
    }
  .user-avatar {
    @media screen and (max-width: 650px) {
      width: calc(50% - 15px);
      .avatar {
        width: 40vw;
        height: 40vw;
      }
    }
  }
}

.user-block::-webkit-scrollbar {
  display: none;
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.noselect {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mw-1200{
  max-width: 1200px;
}

@keyframes shimmer {
  0% {
      background-position: -1000px 0;
  }
  100% {
      background-position: 1000px 0;
  }
}

.shimmer-custom {
  background: linear-gradient(to right, #617789 8%, #3c4b57 18%, #617789 33%);
  background-size: 1000px 100%;
  animation: shimmer 2.2s linear infinite forwards;
  &.rect {
    width: 100%;
    aspect-ratio: 100 / 86;
    margin-bottom: 20px;
  }

  &.circle {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-bottom: 20px;
    @media screen and (max-width: 650px) {
      width: calc(50% - 15px);
      width: 40vw;
      height: 40vw;
      max-width: 40vw;
    }
  }

  &.title {
    width: 100%;
    height: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  &.text {
    width: 100%;
    height: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
  }

  &.sub-text {
    width: 40%;
    height: 10px;
    border-radius: 5px;
  }
}

.Toastify__toast-theme--dark {
    font-family: 'Space Grotesk';
    background: #000;
}
