@import './assets/SCSS/Vars.scss';

body {
    font-family: $lato;
    padding: 0px;
    margin: 0px;
    background: #0f161d;
    // background: linear-gradient(166deg, rgba(16,25,32,1) 0%, rgba(45,63,71,1) 100%);
    min-height: 100vh;
}

.container {
    width: 1600px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    @media screen and (max-width: 1660px) {
        padding-left: 30px;
        padding-right: 30px;
        box-sizing: border-box;
    }
    &.small {
        width: 1480px;
        @media screen and (max-width: 1660px) {
            width: 1600px;
        }
    }
}

/* the slides */
.slick-slide {
    margin: 0 27px;
}
/* the parent */
.slick-list {
    margin: 0 -27px;
}

.line {
    width: 36px;
    height: 6px;
    background: $red;
    display: inline-block;
}

h2 {
    &.large {
        font-family: $oswald;
        text-transform: uppercase;
        color: #ffffff;
        font-size: 300px;
        font-weight: bold;
        font-style: normal;
        letter-spacing: 1.8px;
        line-height: 300px;   
        margin: 0px;
    }

    &.red,
    .red {
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: red;
        color: transparent;   
        position: relative;
        z-index: 9;             
    }
}

.center-text {
    text-align: center;
}

.circle {
    border-radius: 50%;
    overflow: hidden;
}