@import "./assets/SCSS/Vars.scss";

body {
  font-family: $lato;
  padding: 0px;
  margin: 0px;
  background: #0f161d;
  // background: linear-gradient(166deg, rgba(16,25,32,1) 0%, rgba(45,63,71,1) 100%);
  min-height: 100vh;
  box-sizing: border-box;
  padding-left: 53px;
}

.hidden {
  display: none !important;
}

* {
  max-width: 100%;
}

.container {
  width: 1600px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: 1660px) {
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
  }
  &.small {
    width: 1480px;
    @media screen and (max-width: 1660px) {
      width: 1600px;
    }
  }
}

/* the slides */
.slick-slide {
  margin: 0 27px;
}
/* the parent */
.slick-list {
  margin: 0 -27px;
}

.line {
  width: 36px;
  height: 6px;
  background: $red;
  display: inline-block;
}

h2 {
  &.large {
    font-family: $oswald;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 300px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 1.8px;
    line-height: 300px;
    margin: 0px;
    @media screen and (max-width: 858px) {
      font-size: 20vw;
      line-height: 20vw;
    }
  }

  &.red,
  .red {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: $red;
    color: transparent;
    position: relative;
    z-index: 9;
  }
}

.center-text {
  text-align: center !important;
}

.circle {
  border-radius: 50%;
  overflow: hidden;
}

.btn {
  &.btn-red {
    border: 2px solid $red;
    color: white;
    text-decoration: none;
    font-size: 20px;
    color: $red;
    font-weight: 300;
    padding: 20px 40px;
  }
}

input {
  &:focus {
    outline-width: 0;
  }

  &.error {
    border-color: #FF5353 !important;
    color: initial;
  }
}

textarea {
  &.error {
    border-color: #FF5353 !important;
    color: initial;
  }
}

.modal {
  font-family: $space;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
  .cover {
    position: absolute;
    z-index: 998;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, .8);
  }

  .holder {
    background: #FFFFFF;
    border-radius: 12px;
    padding: 30px;
    position: relative;
    z-index: 999;
    width: 400px;
  }
}

.left-nav-pad {
  padding-left: 220px;
}

.right-player-pad {
  padding-right: 150px;
}

.album-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 35px;
  row-gap: 53px;
  @media screen and (max-width: 1830px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media screen and (max-width: 1325px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.flex {
  display: flex;
}

.f-align-center {
  align-items: center;
}

.f-jc-space-between {
  justify-content: space-between;
}

.f-jc-center {
  justify-content: center;
}