@import "../../../assets/SCSS/Vars.scss";

#how-it-works {
  width: 100%;
  h2 {
    &.large {
      font-size: 200px;
      margin-bottom: 60px;
      @media screen and (max-width: 858px) {
        font-size: 20vw;
        line-height: 20vw;
      }
      @media screen and (max-width: 1565px){
        font-size: 155px;
        line-height: 170px;
    }
    @media screen and (max-width: 1010px){
        font-size: 110px;
        line-height: 120px;
    }
    @media screen and (max-width: 754px){
        font-size: 72px;
        line-height: 82px;
    }
    }
    .red {
    display: block;
  }
  }

  .bottom {
    display: flex;
    @media screen and (max-width: 1070px) {
      flex-direction: column;
    }
    @media screen and (max-width: 650px) {
      padding-left: 0px;
      padding-right: 0px;
    }
    .left {
      display: flex;
      padding-right: 70px;
      width: -webkit-fill-available;

      @media screen and (max-width: 1070px) {
        padding-right: 0px;
        margin-bottom: 50px;
      }
      @media screen and (max-width: 650px) {
        display: block;
      }
      .left-nav {
        @media screen and (max-width: 650px) {
          display: flex;
          justify-content: space-between;
          margin-bottom: 30px;
          max-width: 335px;
          margin-right: auto;
          margin-left: auto;
        }
        @media screen and (max-width: 440px) {
          max-width: none;
        }
        .count {
          font-family: $oswald;
          margin-bottom: 5px;
          border: solid 2px transparent;
          border-radius: 50%;
          width: 36px;
          height: 36px;
          color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          transition: ease all 0.5s;
          &:last-child {
            margin-bottom: 0px;
          }

          &.active,
          &:hover {
            border: solid 2px $red;
          }
        }
      }

      .content {
        padding-left: 30px;
        @media screen and (max-width: 650px) {
          padding-left: 0px;
        }
        .count {
          color: $red;
        }

        h3 {
          font-family: $oswald;
          color: #fff;
        }

        p {
          color: #fff;
          font-size: 20px;
          font-weight: 300;
          letter-spacing: 0.1px;
          line-height: 33px;
          margin-top: 0px;
          margin-bottom: 0px;
          @media screen and (max-width: 650px) {
          font-size: 16px;
          line-height: 24px;
          }
        }
      }
    }

    .right {
      background-color: #434343;
      box-sizing: border-box;
      padding: 40px 50px;
      width: 70%;
      @media screen and (max-width: 1070px) {
      padding: 30px;
      width: 100%;
      }
      @media screen and (max-width: 650px) {
      padding: 20px 30px 30px;
      }
      h4 {
        color: #fff;
        font-family: $oswald;
        font-size: 30px;
        text-transform: uppercase;
        margin-bottom: 0px;
        margin-top: 0px;
      }

      p {
        color: #ffffff;
        font-size: 20px;
        letter-spacing: 0.1px;
        line-height: 30px;
        margin-bottom: 0px;
        @media screen and (max-width: 650px) {
        margin-top: 10px;
        }
      }
    }
  }
}

.team-link{
  text-decoration: none;
  color: #e52b25;
}
