@import "../../../assets/SCSS/Vars.scss";

#how-it-works {
  width: 100%;
  h2 {
    &.large {
      font-size: 200px;
      margin-bottom: $s-64;
      @media screen and (max-width: 858px) {
        font-size: 20vw;
        line-height: 20vw;
      }
      @media screen and (max-width: 1565px){
        font-size: 155px;
        line-height: 170px;
    }
    @media screen and (max-width: 1010px){
        font-size: 110px;
        line-height: 120px;
    }
    @media screen and (max-width: 754px){
        font-size: 72px;
        line-height: 82px;
    }
    }
    .red {
    display: block;
  }
  }

  .bottom {
    display: flex;
    @media screen and (max-width: 1070px) {
      flex-direction: column;
    }
    @media screen and (max-width: 650px) {
      padding-left: 0px;
      padding-right: 0px;
    }
    .left {
      display: flex;
      padding-right: $s-64;
      width: -webkit-fill-available;

      @media screen and (max-width: 1070px) {
        padding-right: 0;
        margin-bottom: $s-48;
      }
      @media screen and (max-width: 650px) {
        display: block;
      }
      .left-nav {
        @media screen and (max-width: 650px) {
          display: flex;
          justify-content: space-between;
          margin-bottom: $s-32;
          max-width: 335px;
          margin-right: auto;
          margin-left: auto;
        }
        @media screen and (max-width: 440px) {
          max-width: none;
        }
        .count {
          font-family: $font-display;
          margin-bottom: $s-4;
          border: solid 2px transparent;
          border-radius: $radius-full;
          width: 36px;
          height: 36px;
          color: $text-hi;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          transition: ease all 0.5s;
          &:last-child {
            margin-bottom: 0;
          }

          &.active,
          &:hover {
            border: solid 2px $accent;
          }
        }
      }

      .content {
        padding-left: $s-32;
        @media screen and (max-width: 650px) {
          padding-left: 0;
        }
        .count {
          color: $accent;
        }

        h3 {
          font-family: $font-display;
          color: $text-hi;
        }

        p {
          color: $text-hi;
          font-size: $fs-lead;
          font-weight: $fw-light;
          letter-spacing: 0.1px;
          line-height: 33px;
          margin-top: 0;
          margin-bottom: 0;
          @media screen and (max-width: 650px) {
          font-size: $fs-body;
          line-height: 24px;
          }
        }
      }
    }

    .right {
      background-color: #434343;
      box-sizing: border-box;
      padding: $s-48 $s-48;
      width: 70%;
      @media screen and (max-width: 1070px) {
      padding: $s-32;
      width: 100%;
      }
      @media screen and (max-width: 650px) {
      padding: $s-16 $s-32 $s-32;
      }
      h4 {
        color: $text-hi;
        font-family: $font-display;
        font-size: $fs-h4;
        text-transform: uppercase;
        margin-bottom: 0;
        margin-top: 0;
      }

      p {
        color: $text-hi;
        font-size: $fs-lead;
        letter-spacing: 0.1px;
        line-height: 30px;
        margin-bottom: 0;
        @media screen and (max-width: 650px) {
        margin-top: $s-8;
        }
      }
    }
  }
}

.team-link{
  text-decoration: none;
  color: $accent;
}
