@import '../../assets/SCSS/Vars.scss';

#support-artists {
    width: 100%;
    float: left;
    overflow: hidden;
    padding-bottom: 100px;
    h2 {
        &.large {
            font-size: 200px;
            line-height: 200px;
        }
        position: relative;
        z-index: 9;
    }

    .albums {
        display: flex;
        margin-left: -200px;
        margin-right: -200px;
        margin-top: -100px;
        position: relative;
        z-index: 8;
        .single {
            margin-right: 20px;
            &:last-child {
                margin-right: 0px;
            }
        }
    }
}