@import "../../assets/SCSS/Vars.scss";
.search-result {
  padding-bottom: $s-96;
  padding-top: $s-16;
  @media screen and (max-width: 650px) {
    padding-top: $s-48;
  }
  .no-result {
    color: white;
  }
  #search-album .album-grid {
    grid-column-gap: $s-24;
    column-gap: $s-24;
    @media screen and (max-width: 650px) {
      padding-left: $s-16;
      padding-right: $s-16;
    }
  }
  .album-title {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: $neutral-200;
    margin-bottom: $s-32;
    margin-top: $s-48;
    @media screen and (max-width: 650px) {
      padding-left: $s-16;
    }
  }
  .album-detail {
    font-family: $font-body;
    font-style: normal;
    font-weight: normal;
    color: $text-hi;
    :first-child {
      font-size: 18px;
      color: $text-hi;
      margin-bottom: 3px;
      margin-top: $s-16;
    }
    :nth-child(2) {
      font-size: 14px;
      line-height: 18px;
    }
    :last-of-type {
      font-size: 14px;
      line-height: 18px;
    }
  }
  .songlist-title {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: $text-hi;
    padding: $s-48 0px $s-32 0px;
    @media screen and (max-width: 650px) {
      padding-left: $s-16;
    }
  }
  .artist-holder {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: $s-32;
    column-gap: $s-32;
    grid-row-gap: $s-48;
    row-gap: $s-48;
    @media screen and (max-width: 600px) {
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: $s-24;
      column-gap: $s-24;
      grid-row-gap: $s-24;
      row-gap: $s-32;
    }
  }
}
