.search-result{
    .album-title {
        font-size: 14px;
        line-height: 18px;
        text-transform: uppercase;
        color: #E3E5E6;
        margin-bottom: 32px;
    }
    .d-flex{
        display: flex;
    }
}