@import "../../assets/SCSS/Vars.scss";
.search-result {
  padding-bottom: 100px;
  padding-top: 15px;
  @media screen and (max-width: 650px) {
    padding-top: 50px;
  }
  .no-result {
    color: white;
  }
  #search-album .album-grid {
    grid-column-gap: 25px;
    column-gap: 25px;
    @media screen and (max-width: 650px) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .album-title {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #e3e5e6;
    margin-bottom: 32px;
    margin-top: 50px;
    @media screen and (max-width: 650px) {
      padding-left: 20px;
    }
  }
  .album-detail {
    font-family: $space;
    font-style: normal;
    font-weight: normal;
    color: #ffffff;
    :first-child {
      font-size: 18px;
      color: #fff;
      margin-bottom: 3px;
      margin-top: 15px;
    }
    :nth-child(2) {
      font-size: 14px;
      line-height: 18px;
    }
    :last-of-type {
      font-size: 14px;
      line-height: 18px;
    }
  }
  .songlist-title {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 50px 0px 30px 0px;
    @media screen and (max-width: 650px) {
      padding-left: 20px;
    }
  }
  .artist-holder {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 35px;
    column-gap: 35px;
    grid-row-gap: 50px;
    row-gap: 50px;
    @media screen and (max-width: 600px) {
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 20px;
      column-gap: 20px;
      grid-row-gap: 20px;
      row-gap: 30px;
    }
  }
}
