@import "../../assets/SCSS/Vars.scss";
.search-result{
    .cd-case {
        padding: 3px 4px 5px 20px;
        margin: 20px 20px 20px 0px;
        width: 201px;
        height: 201px;
    }

    .album-title {
        font-size: 14px;
        line-height: 18px;
        text-transform: uppercase;
        color: #E3E5E6;
        margin-bottom: 32px;
        margin-top: 41px;
    }
    .album-detail {
        font-family: $space;
        font-style: normal;
        font-weight: normal;
        color: #FFFFFF;
        :first-child {
            font-size: 18px;
            line-height: 23px;
        }
        :nth-child(2) {
            font-size: 14px;
            line-height: 18px;
        }
        :last-of-type {
            font-size: 14px;
             line-height: 18px;
         }
    }
    .songlist-title {
        font-size: 14px;
        line-height: 18px;
        text-transform: uppercase;
        color: #FFFFFF;
        padding: 60px 0px 30px 0px;
    }
}