@import '../../assets/SCSS/Vars.scss';

#banner {
    min-height: 900px;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    z-index: 8;
    @media screen and (max-width: 1070px) {
        min-height: auto;
        margin-bottom: 150px;
    }

    @media screen and (max-width: 754px) {
        margin-bottom: 50px;
    }
    .lg-text {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
        max-width: 1600px;
        padding: 0px 40px;
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
        z-index: 9;
        margin-top: 140px;
        @media screen and (max-width: 1345px) {
            align-items: center;
        }
        .top {
            display: flex;
            align-items: center;
        }

        h1 {
            margin: 0px;
            color: #fff;
            text-transform: uppercase;
            color: #ffffff;
            font-size: 200px;
            line-height: 227px;
            margin: 0px;
            font-family: $oswald;
            position: relative;
            z-index: 9;
            @media screen and (max-width: 1565px) {
                font-size: 160px;
            }

            @media screen and (max-width: 1070px) {
                font-size: 110px;
                line-height: 150px;
            }

            @media screen and (max-width: 754px) {
                font-size: 12vw;
                line-height: 13vw;
            }
            &.red {
                -webkit-text-stroke-width: 2px;
                -webkit-text-stroke-color: red;
                color: transparent;
                margin-left: auto;
            }
        }

        .sub-text {
            width: 341px;
            padding-left: 30px;
            @media screen and (max-width: 1345px) {
                display: none;
            }
            p {
                color: #ffffff;
                font-size: 20px;
                font-weight: 300;
                letter-spacing: 0.1px;
                margin-bottom: 0px;
                line-height: 33px;
            }
        }
    }

    .triangle-image {
        position: absolute;
        bottom: -50px;
        right: 100px;
        z-index: 8;
        @media screen and (max-width: 1070px) {
            opacity: .2;
        }
    }
}