@import '../../../assets/SCSS/Vars.scss';

#what-people-are-saying {
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: visible;
    h3 {
        font-family: $font-display;
        color: $text-hi;
        text-transform: uppercase;
        font-size: 30px;
        margin-top: 0;
    }
    .padding-section-top {
    position: relative;
    padding-top: 7.5rem;
    }

    .slick-slider {
        // height: 450px !important;
        overflow: hidden;
        .slick-list{
            .slick-track{
                display: flex;
                // transform: inherit !important;
            }
        }
    }
 //    .slick-slide {
 //     height: 450px;
 // }

    .tweets {
        width: 100%;
        position: relative;
        width: 100%;
        max-width: 75rem;
        margin-right: auto;
        margin-left: auto;
        .single-tweet {
            background-color: $neutral-800;
            color: $text-hi;
            width: 350px !important;
            display: flex !important;
            flex-direction: column;
            padding: $s-48 $s-24 $s-24;
            box-sizing: border-box;
            position: relative;
            min-height: 400px;
            h5 {
              position: absolute;
              top: $s-64;
              font-size: 26px;
              font-weight: $fw-regular;
              margin: 0;
              font-family: $font-body;
              color: $text-hi;
              text-shadow: 0px 1px $neutral-800;
              z-index: 1;
            }
            .tweet-image {
                width: 160px;
                height: 160px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: auto;
                img {
                    height: 100%;
                    max-width: unset;
                    opacity: .85;
                }
            }

            .tweet-content {
                width: 100%;
                p {
                    font-size: $fs-body;
                    line-height: 24px;
                    color: $text-hi;
                    font-weight: $fw-regular;
                    letter-spacing: 0.1px;
                }
            }

            .twitter-logo {
                margin-left: auto;
                margin-top: auto;
            }
        }
    }
}
